@gridColumns:             12;
@gridColumnWidth:         60px;
@gridGutterWidth:         20px;
@gridRowWidth:            (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1) );

@fluidGridColumnWidth:    percentage(@gridColumnWidth/@gridRowWidth);
@fluidGridGutterWidth:    percentage(@gridGutterWidth/@gridRowWidth);

@primaryBgColor : #eceff1;
@primaryTextColor : #666;
@secondaryBgColor : #03a9f4;
@dangerBgColor : #e51c23;
@outlineColor : #03a9f4;
@disabledBgColor : #008aaa;

@borderRadius : 0rem;
@borderColor : #f1f1f1;


@regionBgColor : #fff;

@listMinHeight : 6rem;
@subListTextColor : lighten(@primaryTextColor, 10%);

@draverBgColor : @secondaryBgColor;
@drawerTextColor : white;

@seekbarHeight : 0.5rem;
@seekbarBgColor : #666;

@dialogBgColor : @regionBgColor;
@dialogTextColor: @primaryTextColor;

@ratingBgColor : #00caf2;
@ratingTextColor : #fff;

@tabsBgColor : #03a9f4;
@playerBgColor : #03a9f4;
