<section data-type="sidebar" id="drawer" ng-class="{maximize : isMaximized}">
    <header>
        <div class="arts">
            <div class="row">
                <div class="span3" style="text-align : center;">
                    <div class="md-circle status" ng-class="{connected : connected, disconnected : !connected}">
                        <i ng-class="{'icon-ok' : connected, 'icon-remove' : !connected}"></i> 
                    </div>
                </div>
                <h1 class="span9" ng-switch on="connected">
                    <div ng-switch-when="true">
                        {{host.displayName}}
                    </div>
                    <div ng-switch-when="false">
                        No connection
                    </div>
                </h1>
                <a ng-click="hideDrawer()" class="collapse">
                    <i class="icon icon-angle-left"></i>
                </a>
            </div>
        </div>
    </header>
    <nav ng-class="{'active-player' : player.active, 'inactive-player': !player.active}">
        <ul>
            <li ng-repeat="item in medias" class="row" 
                ng-click="go(item.hash)" ng-class="{selected : isCurrent(item.hash)}">
                <div class="span2">
                    <i class="{{item.icon}}"></i>
                </div>
                <div class="span9">
                    {{item.label}}
                </div>
            </li>
            <li  ng-show="player.active" class="row" 
                 ng-click="go('/now/playing')" ng-class="{selected :isCurrent('/now/playing')}">
                <div class="span2">
                    <i class="icon-youtube-play"></i>
                </div>
                <div class="span9">
                    Now playing
                </div>
            </li>
            <li ng-show="player.active" class="row" 
                ng-click="go('/now/playlist')" ng-class="{selected :isCurrent('/now/playlist')}">
                <div class="span2">
                    <i class="icon-glass"></i>
                </div>
                <div class="span9">
                    Queue
                </div>
            </li>
            <li ng-repeat="item in controls" class="row" 
                ng-click="go(item.hash)" ng-class="{selected :isCurrent(item.hash)}">
                <div class="span2">
                    <i class="{{item.icon}}"></i>
                </div>
                <div class="span9">
                    {{item.label}}
                </div>
            </li>
            <li  class="row" ng-click="toggleTheme()">
                <div class="span2">
                    <i class="icon-exchange"></i>
                </div>
                <div class="span9">
                    Switch theme
                </div>
            </li>
        </ul>
    </nav>
    <div class="now playing" ng-show="player.active">
        <seekbar seekbar-value="player.seek.percentage" seekbar-max="100" seekbar-read-only="true"></seekbar>
        <div class="row">
            <div ng-switch on="hasPoster(player.item.art)">
                <div ng-switch-when="true" ng-click="go('/now/playing','none')">
                    <div class="span3 poster-wrapper" >
                        <div class="md-circle poster" image image-source="player.item.art | thumb  | asset:host | fallback:'img/icons/foxy-512.png'"></div>
                    </div>
                </div>
            </div>
            <div class="title" ng-class="{span7 : hasPoster(player.item.art), span9 : !hasPoster(player.item.art)}">
                {{getLabel(player.item)}}
            </div>
            <div class="span2 actions">
                <div class="offset4 span4 icon-play" ng-click="xbmc.togglePlay()"  ng-show="!player.speed">
                </div>
                <div class="offset4 span4 icon-pause" ng-click="xbmc.togglePlay()"  ng-show="player.speed">
                </div>
            </div>
        </div>
    </div>
</section>