<section data-type="sidebar">
    <header>
        <h1>Library</h1>
    </header>
    <nav ng-class="{'active-player' : player.active, 'inactive-player': player.active}">
        <ul>
            <li ng-repeat="item in medias">
                <a ng-tap="go(item.hash)" ng-class="isCurrent(item.hash)">
                    <i class="{{item.icon}}"></i>
                    {{item.label}}
                </a>
            </li>
            <li  ng-show="player.active">
                <a  ng-tap="go('/now/playing')" ng-class="isCurrent('/now/playing')">
                    <i class="icon-youtube-play"></i>
                    Now playing
                </a>
            </li>
            <li  ng-show="player.active">
                <a  ng-tap="go('/now/playlist')" ng-class="isCurrent('/now/playlist')">
                    <i class="icon-glass"></i>
                    Queue
                </a>
            </li>
            <li ng-repeat="item in controls">
                <a ng-tap="go(item.hash)" ng-class="isCurrent(item.hash)">
                    <i class="{{item.icon}}"></i>
                    {{item.label}}
                </a>
            </li>
        </ul>
    </nav>
    <div class="now playing" ng-show="player.active">
        <img class="poster" src="{{player.item.art | thumb | asset:configuration.host.ip}}" ng-tap="go('/now/playing','none')"
             ng-show="hasPoster(player.item.art)"/>
        <img class="poster unknown" src="img/blank.gif" ng-tap="go('/now/playing')"
             ng-hide="hasPoster(player.item.art)"/>
        <h1>{{getLabel(player.item)}}</h1>
        <footer>
            <div class="row actions">
                <div class="offset4 span4 icon-play" ng-tap="xbmc.togglePlay()"  ng-show="!player.speed">
                </div>
                <div class="offset4 span4 icon-pause" ng-tap="xbmc.togglePlay()"  ng-show="player.speed">
                </div>
                <div class="span3" ng-tap="xbmc.next()"><i class="icon-fast-forward"></i></div>
            </div>
        </footer>
    </div>
</section>