<!DOCTYPE html>
<html ng-app="app" ng-csp>
  <head>
    <title>Foxmote</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"></keybinding>
    <meta charset="UTF-8"></keybinding>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="css/angular-csp.css" ></keybinding>
    <link rel="stylesheet" type="text/css" href="css/<%= grunt.config.get('pkg.name') %>.css" ></keybinding>
    <script type="text/javascript" src="js/lib/angular.js"></script>
    <script type="text/javascript" src="js/lib/mousetrap.js"></script>
    <script type="text/javascript" src="js/<%= grunt.config.get('pkg.name') %>.js"></script>
  </head>
  <body role="application" ng-controller="AppCtrl">
        <keybinding on="up" invoke="xbmc.up()"></keybinding>
        <keybinding on="left" invoke="xbmc.left()"></keybinding>
        <keybinding on="enter" invoke="xbmc.select()"></keybinding>
        <keybinding on="right" invoke="xbmc.right()"></keybinding>
        <keybinding on="backspace" invoke="xbmc.back()"></keybinding>
        <keybinding on="down" invoke="xbmc.down()"></keybinding>
        <keybinding on="space" invoke="xbmc.togglePlay()"></keybinding>
        <keybinding on="ctrl+i" invoke="xbmc.info()"></keybinding>

        <keybinding on="pageup" invoke="xbmc.increaseVolume()"></keybinding>
        <keybinding on="pagedown" invoke="xbmc.decreaseVolume()"></keybinding>

        <keybinding on="ctrl+left" invoke="xbmc.previous()"></keybinding>
        <keybinding on="ctrl+right" invoke="xbmc.next()"></keybinding>

        <keybinding on="home" invoke="xbmc.home()"></keybinding>
        <keybinding on="end" invoke="xbmc.stop()"></keybinding>
 
        <section id="page" role="region" ng-show="initialized">
            <header  ui-view="header"></header>
            <div role="main" ui-view="body" ng-class="{'no-footer' : !hasFooter()}"></div>
            <footer  ui-view="footer" ng-show="hasFooter()"></footer>
        </section>

        <section role="region" ng-show="!initialized">
            <div role="splash" class="no-footer">
                <img src="img/icons/foxmote-128.png"/>
            </div>
        </section>

        <div ng-include src="'navigation/navigation.tpl.html'" ng-controller="NavigationCtrl"></div>
        <div class="font-loader"> 
            <div class="kenyanCoffee">Preload kenyc.ttf</div>
            <div class="ffosxbmc">Preload ffosxbmc.ttf</div>
        </div>
  </body>
</html>