<nav class="row">
    <form class="span3 clearfix search" ng-submit="search()" ng-class="{open : isOpen}">
        <div class="btn" ng-click="open()">
            <i class="fa fa-search"></i>
        </div>
        <input type="text" placeholder="Search movies and shows" ng-model="query"/>
    </form>
    <div class="clearfix tabs span6">
        <a href="#{{item.hash}}" ng-repeat="item in medias" ng-class="{selected : isCurrent(item.matchRegExp)}"
            class="tab span{{12/medias.length}}">
            <div class="label">{{item.label}}</div>
        </a>
    </div>
    <form action="https://www.paypal.com/cgi-bin/webscr"
          method="post" target="blank"
          class="donate"> 
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="55CCWP2R8WCNU">
        <button type="submit" class="recommend">
            <i class="fa fa-paypal"></i>
        </button>
    </form>
    <div class="status" ng-class="{connected : connected, disconnected : !connected}">
        <i class="fa" ng-class="{'fa-check' : connected, 'fa-times' : !connected}"></i>
    </div>
</nav>