<nav class="row">
    <form class="span3 clearfix search" ng-submit="search()" ng-class="{open : isOpen}">
        <div class="btn" ng-click="open()">
            <i class="fa fa-search"></i>
        </div>
        <input type="text" placeholder="Search movies and shows" ng-model="query"/>
    </form>
    <div class="clearfix tabs span6">
        <a href="#{{item.hash}}" ng-repeat="item in medias" ng-class="{selected : isCurrent(item.matchRegExp)}"
            class="tab span{{12/medias.length}}">
            <div class="label">{{item.label}}</div>
        </a>
    </div>
    <div class="donate"> 
        <button class="recommend" ng-click="showSupport()">
            <i class="fa fa-paypal"></i>
        </button>
    </div>
    <div class="status" ng-class="{connected : connected, disconnected : !connected}">
        <i class="fa" ng-class="{'fa-check' : connected, 'fa-times' : !connected}"></i>
    </div>
</nav>