<nav class="row">
    <form class="span3 clearfix search" ng-submit="search()" ng-class="{open : isOpen}">
        <div class="btn" ng-click="open()">
            <i class="icon-search"></i>
        </div>
        <input type="text" placeholder="What are you looking for" ng-model="query"/>
    </form>
    <div class="clearfix tabs span6">
        <a href="#{{item.hash}}" ng-repeat="item in medias" ng-class="{selected : isCurrent(item.matchRegExp)}"
            class="tab span{{12/medias.length}}">
            <div class="label">{{item.label}}</div>
        </a>
    </div>
    <div class="status" ng-class="{connected : connected, disconnected : !connected}">
        <i ng-class="{'icon-ok' : connected, 'icon-remove' : !connected}"></i>
    </div>
</nav>