@font-face {
  font-family: 'KenyanCoffee';
  src: url('../font/kenyc.ttf');
}

@font-face {
  font-family: 'ffosxbmcRegular';
  src: url('../font/ffosxbmc.ttf');
}

@font-face {
  font-family: 'moviegenre';
  src: url('../font/moviegenre.ttf');
}

@font-face {
  font-family: 'digi';
  src: url('../font/DS-DIGII.TTF');
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Thin.TTF');

}

section[role="region"] header .logo {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  box-sizing: border-box;
  height: 5rem;
  cursor: pointer;
}

section[role="region"] header .logo .foxmote {
  background: transparent url(../img/icons/foxmote-128.png) no-repeat center;
  background-size: 32px 32px;
  display: inline-block;;
  width: 3.2rem;
  height: 3.2rem;
}

section[role="region"] > header:first-child .logo .icon {
  width: auto;
  height: auto;
  font-size: 2rem;
  padding: .75rem 0;
  margin : 0;
}

section[role="region"] header h2.connected {
  border-left: 3rem solid limegreen;
}

section[role="region"] header h2.disconnected {
  border-left: 3rem solid red;
}

.loading {
  background: #03a9f4;
  position: absolute;
  top:0;
  bottom: 0;
  left : 0;
  right : 0;
}

.loading .foxy {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  background: transparent url(../img/icons/foxy-512.png) no-repeat left bottom;
  background-size: 75%;
}

.loading .foxy:after {
  position: absolute;
  top: 50%;
  left : 50%;
  width: 30px;
  height: 30px;
  margin-left: -15px;
  margin-top: -15px;
  background: transparent url(../img/icons/spinner.gif) no-repeat center;
  content: "";
}

.spinner {
  position: relative;
  height: 0.25rem;
  background-color: @secondaryBgColor;
}

.spinner .bar {
  height: 0.25rem;
  background-color: @regionBgColor;
  position: absolute;
  left: 50%;
  width: 10%;
  -webkit-animation: indeterminate 5s infinite linear;
  -moz-animation: indeterminate 5s infinite linear;
  animation: indeterminate 5s infinite linear;
}

@-webkit-keyframes indeterminate {
  0% {width: 0%;left: 0%;}
  19.99% {width: 40%;left: 100%;}
  20% {width: 0%;left: 0%;}
  39.99% {width: 60%;left: 100%;}
  40% {width: 0%;left: 0%;}
  59.99% {width: 75%;left: 100%;}
  60% {width: 0%;left: 0%;}
  79.99% {width: 80%;left: 100%;}
  80% {width: 0%;left: 0%;}
  100% {width: 25%;left: 100%;}
}

@-moz-keyframes indeterminate {
  0% {width: 0%;left: 0%;}
  19.99% {width: 40%;left: 100%;}
  20% {width: 0%;left: 0%;}
  39.99% {width: 60%;left: 100%;}
  40% {width: 0%;left: 0%;}
  59.99% {width: 75%;left: 100%;}
  60% {width: 0%;left: 0%;}
  79.99% {width: 80%;left: 100%;}
  80% {width: 0%;left: 0%;}
  100% {width: 25%;left: 100%;}
}

.arts,
.banner,
.fanart {
 background-size : auto 100%;
 position : relative;
}

.banner {
  height : 10rem ;
  width : 100%;
  background-size : 100% auto;
}
.arts {z-index:2;background-color:#03a9f4; .drop-shadow;}
.arts .md-action {bottom: -1.75rem;}

.fanart {height : 20rem;}
.wrapper {position: relative;min-height: 0.1rem;}

.poster {
  border: 0.25rem solid white;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.clock {
  font-family: 'digi';
}
.playcount {
  position: absolute;
  bottom: 0rem;
  right: -.75rem;
  color: white;
  font-size: 1rem;
  background: @secondaryBgColor;
  line-height: 1rem;
  height: 1rem;
  width: 1rem;
  padding: 0.5rem;
  z-index: 2;
  font-weight: bold;
  border-radius: 50%;
}
.font-loader {display : none;}
.font-loader .kenyanCoffee{font-family: KenyanCoffee;}
.font-loader .ffosxbmc{font-family: ffosxbmcRegular;}
.font-loader .movieGenre{font-family: moviegenre;}
.font-loader .digi{font-family: digi;}

.empty.list {
  padding-top: 2rem;
  font-size: 2rem;
  color: white;
  text-align: center;
  color: @primaryTextColor;
  padding: 0 1rem;
  font-size: 1.5rem;

}


.equalizer {
  position: absolute;
  right : 0.5rem;
  bottom : 0.5rem;
  width : 3rem;
  height : 4rem;
}

.md-action,
.md-circle {
  padding : 0;
  margin : 0;
  width : 5rem;
  height : 5rem;
  z-index: 2;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.258824);
  border-radius: 50%;
  color: #f1f1f1!important;
  position: relative;
  display: inline-block;
  text-shadow : none;
}


.md-circle i {
  display: block;
  text-align: center;
  line-height: 5rem;
  font-size : 3rem;
}

.md-action {
  position: absolute;
  cursor: pointer;
  right: 1rem;
}

.md-action.md-action-primary { background: @secondaryBgColor !important;}
.md-action.md-action-danger { background: @dangerBgColor !important;}

.md-action i {
  display: block;
  text-align: center;
  font-style: normal;
  font-size: 2rem;
  line-height: 5rem;
  opacity : 0.75;
  text-shadow : 1px 1px 1px rgba(0,0,0,0.5);
}

.md-action:hover i {
  opacity : 1;
}


.rating {
  background-color: @secondaryBgColor!important;
  border-color: @secondaryBgColor!important;

}

.rating .value{
  font-size: 2rem;
  line-height: 4rem;
}

.rating .star {
  position: absolute;
  bottom: 1rem;
  line-height: 1rem;
  font-size: 1rem;
}

.rating .star.left { left : 0.5rem;}
.rating .star.right { right : 0.5rem;}
.rating .star.middle {
  bottom: 0.5rem;
  left: 50%;
  margin-left: -.7rem;
  font-size: 1.5rem;
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
  text-align: center;
}
  /* flip the pane when hovered */
.row:hover .flip-container .flipper,
.flipper.flipped {
  transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  min-height: 0.1rem;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  position: relative;
}

/* front pane, placed above back */
.front {
  z-index: 2;
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

[data-type="list"]  .poster,
[data-type="list"]  .rating {
  background-size: 100%;
  display: inline-block;
  position: absolute;
  top : 50%;
  left : 50%;
  margin-top : - 2.5rem;
  margin-left : -2.5rem;
}

[data-type="list"] .poster {
  border : 0.25rem solid @secondaryBgColor!important;
}

