.movies .content {height: calc(100% - 4rem);position:relative;}
.movies .tabs{background: @secondaryTabsBgColor;}
.movies .tabs .tab.selected {border-color: @secondaryTabsBorderColor;}
.movies .tabs .tab{padding: 1rem 0 0.5rem 0;}