.movies {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}


.movies [data-type="list"] {
  position: absolute;
  top: 10rem;
  right : 0;
  left : 0;
  bottom : 0;
  overflow: scroll;
}

[data-type="list"] .movie {
  position: relative;
  height: auto;
  padding :0.5rem 0;
}

[data-type="list"] .movie p:first-of-type {
  padding: 0.5rem);
}

[data-type="list"] .movie h1 {
  padding: 0;
  font-size: 2rem;
}

.movie.detail {
  margin: 0
}

.movie.detail .arts .row {
  position: relative; 
  top: 4rem;
}

.movie.detail h1 {
  text-align: right;
  margin: 0;
  padding-right: 1rem;
}

.movie.detail .content {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 28rem;
  overflow: scroll;
}

.movie .md-action {
  position: absolute;;
  right : 1rem;
  bottom: -1.75rem;
}