nav {
  font-size : 2.25em;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  text-transform: uppercase;
  position: relative;
}


nav .tab {
  float: left;
  padding: 0.25em 0.5em;
  text-align: center;
  width: calc(100% / 3);
  box-sizing: border-box;
  border-bottom: .5rem solid transparent;
  height : 4rem;
  position : relative;
}

nav .tab.selected{
  border-color : @secondaryBgColor;
}

nav .status,
nav .search .btn,
nav .donate {
  display: inline-block;
  width : 4rem;
  height: 4rem;
  color : white;
  line-height: 4rem;
  text-align: center;
  position: absolute;
  right: 0;
  cursor : pointer;
  top : 0;
  transition: all 0.25s ease;
}
nav .donate {right:4rem;width : auto;}
nav .donate button.recommend{
  background:#0087D5;
  height:100%;
  border:0;
}

nav .status i ,
nav .search .btn i {line-height: 4rem;}

nav .search .btn{
  position : relative;
  font-size: 1.5rem;
  float : left;
}

nav .search .btn:hover,
nav .search.open .btn {
  background: lighten(@playerBgColor, 25%) !important;
  border-color: lighten(@playerBgColor, 25%)!important;
  
}

nav .search input[type="text"] {
  width : 0%;
  float : left;
  transition: all 0.25s ease;
  padding : 0;
  border : 0;
}

nav .search.open input[type="text"] {
  width : 80%;
  display : block;
  padding : 0 1.2rem;
  border : 1px solid @borderColor;
}

nav .status.connected{
  background-color: #259b24!important;
  border-color: #259b24!important;
}

nav .status.disconnected{
  background-color: #e51c23!important;
  border-color: #e51c23!important;
}

nav .dropdown-menu {
  width: 30rem;
  position: absolute;
  bottom: 4rem;
  right: 0;
  z-index: 10;
  background : lighten(@secondaryBgColor, 10%);
  min-height : 40rem;
  text-align: left;
  transition: all 250ms ease-in;
  opacity: 0;
}
nav .dropdown-menu.visible {
  transform: translateY(100%);
  opacity: 1;
  bottom: 0rem;
}


nav .dropdown-menu .username,
nav .dropdown-menu .password,
nav .dropdown-menu .name,
nav .dropdown-menu .md-action-danger {
  display: none;
}

nav .dropdown-menu .settings{
  overflow: auto;
}

form.donation {position:relative;}
form.donation .arch{
  position : absolute;
  left : 50%;
  top : 0;
  transform : translateX(-50%) translateY(-50%);
  width:8rem;
  height:8rem;
}
form[role="dialog"][data-type="action"].donation .content .body header{height:3rem;}
form[role="dialog"][data-type="action"].donation .content .body {
  padding : 3rem 0 0 0;
  max-height: none;
}
form[role="dialog"][data-type="action"].donation .content .body p {
  font-size : 1.25rem;
  text-align: justify;
  padding : 1rem 0;
}
form.donation .fa-times{
  position:absolute;
  right : 1rem;
  top : 1rem;
  font-size: 2rem;
  cursor : pointer;
}

form.donation .input-wrapper {position:relative;padding-bottom: .5rem;}
form.donation .input-wrapper .fa-gift,
form.donation .input-wrapper .fa-dollar,
form.donation .input-wrapper .fa-eur,
form.donation .input-wrapper .fa-jpy,
form.donation .input-wrapper .fa-gbp {
  position: absolute;
  left: 0rem;
  top: 0;
  font-size: 1.75rem;
  line-height: 3rem;
  border-right: 1px solid @borderColor;
  margin: 0.5rem;
  text-align: center;
  width: 2.5rem;
}
form.donation .input-wrapper select {
  position: absolute;
  top: 0;
  width: 100%;
  height: 4rem;
  display: block;
  height: 4rem;
  -webkit-appearance: menulist-button;
  opacity: 0;
  z-index: 1;
}
form.donation input {
  padding-left : 3.5rem;
}
form.donation button.recommend {margin-bottom: 0;}