.playing {
  position: absolute;
  bottom: 0;
  right : 0;
  left : 0;
  background: @playerBgColor;
  border-top : 1px solid @borderColor;
  z-index: 4;
}

.playing .actions-wrapper {
  width : 17%;
  margin : 0;
  float : left;
  text-align: center;
  position: relative;
  background: lighten(@playerBgColor, 25%);
}

.playing .buttons .md-action i {
  line-height: 6rem;
  font-size: 2.5rem;
}

.playing .buttons .actions-wrapper > .md-action {
  width : 100%;
}

.playing .buttons .actions-wrapper .md-action.primary i{
  font-size: 4rem;
}

.playing .player-wrapper {
  min-height: 1px;
  position: relative;
  background: @playerBgColor;
  min-height: 6rem;
  margin: 0;
  width: 66%;
  float : left;
}

.player-wrapper .empty{
  min-height: 6rem;
}

.player .label {
  overflow: hidden;
  font-size: 1.5rem;
  color: #f1f1f1;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 3.5em;
  display: inline-block;
  padding-left : 1rem;
  max-width: 50%;
}

.player .poster-wrapper {
  text-align: center;
  display: inline-block;
}

.player .poster-wrapper .poster{
  width: 5rem;
  height: 5rem;
  background-size: 100% auto;
  border: 0;
  box-shadow: none;
  background-position: center;
}

.player .poster-wrapper .poster.show {
  background-size: auto 100%;
}

.buttons .md-action{
  position: relative;
  right: 0;
  box-shadow: none;
  transition: all 0.25s ease;
  border-radius: 0;
  height : 100%;
}

.remote-menu .buttons .md-action:active,
.remote-menu .buttons .md-action:hover {
  background-color : #009688;
  color : #f1f1f1 !important;
}

.remote-menu .buttons i {
  font-size: 2.5rem;
  text-shadow:none;
  line-height: 6rem;
}

.remote-menu .buttons i {
  text-shadow : 1px 1px 1px rgba(0,0,0,0.5);
}
.buttons .md-action.more,
.buttons .md-action.stop,
.player-wrapper .times {
  position: absolute;
  right : 0;
  top : 50%;
  transform : translateY(-50%);
  max-width: 30%;
}

.buttons .md-action.stop {right : 4rem;}

.player-wrapper .times  {
  right: 10rem;
  width : auto;
  text-align: center;
  cursor: pointer;
}

.more .dropdown-menu,
.more .remote-menu{display: none;}
.more:hover .dropdown-menu,
.more:hover .remote-menu{display: block;}

.more .dropdown-menu {
  position: absolute;
  top: -1rem;
  right : 0;
  z-index: 9;
  padding: 0;
  font-size: 1.5rem;
  background: @primaryBgColor;
  border: 1px solid @borderColor;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.4);
  width: 17rem;
  color : @primaryTextColor;
  transform : translateY(-100%);
}

.playing .dropdown-menu li {cursor:pointer;padding:1rem;}
.playing .dropdown-menu li:hover {background: @regionBgColor;}


.md-action:hover .volume-wrapper .volume.seekbar {
  display : block;
}

.volume-wrapper .volume.seekbar {
  position: absolute;
  top: -9rem;
  left: -4rem;
  display: none;
  width: 11rem;
  height: 3rem;
  padding: 1rem;
  background : lighten(@secondaryBgColor, 10%);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: all 250ms ease-in;
}

.volume-wrapper div[role="slider"] progress{
  position: absolute;
  top: 50%;
  width: auto;
  transform: translateY(-50%);
  left: 1rem;
  right: 1rem;
}

.voulme-wrapper  .md-action,
.voulme-wrapper  .md-circle{
  position: relative;
  right: 0;
  box-shadow: none;
  transition: all 0.25s ease;
  border-radius: 0;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
}
.voulme-wrapper  .md-action i,
.voulme-wrapper  .md-circle i,{line-height: 4rem;}

.chooser button i {
  font-size: 2rem;
  padding-top : 1rem;
}

.time {text-align : center; }
.time .picker {
  display : inline-block;
  text-align: center;
}

.time .picker table{margin:0 auto;}

.remote-menu {
  position: absolute;
  z-index: 9;
  background : lighten(@secondaryBgColor, 10%);
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.4);
  width: 17%;
  bottom : 6rem;
  right : 0;
  text-align: center;
  transition: all 250ms ease-in;
  min-width : 30rem;
}

.remote-menu .row .span3:last-child {
  background: @secondaryBgColor;
}

.remote-menu .arts .label {
  position: absolute;
  right: 0;
  bottom: 0rem;
  left: 0;
  padding: 0.5rem 4rem 0.5rem 1rem;
  overflow: hidden;
  font-size: 1.5rem;
  color: #f1f1f1;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.5);
  text-align: left;
}

.remote-menu .banner {
  background: #03a9f4 url(../img/backgrounds/banner.png) no-repeat center;
  background-size: 100% auto;
}
.remote-menu .arts {margin-bottom: 2rem;}
.remote-menu .buttons .md-action{
  position: relative;
  right: 0;
  box-shadow: none;
  transition: all 0.25s ease;
  color : #666 !important;
  background: @primaryBgColor;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin-bottom: 2rem;
}

.remote-menu .buttons .md-action-primary {
  position: absolute;
  right: 2.5rem;
  bottom: -3rem;
}

.remote-menu .buttons .md-action:active {
  background-color : #009688;
  color : #f1f1f1 !important;
}

.remote-menu .buttons .md-action i {
  font-size: 2.5rem; 
  text-shadow:none;
  line-height: 5rem;
}

.remote-menu .buttons .direction{
  background: #8c9eff;
  color : #f1f1f1 !important;
  text-shadow : 1px 1px 1px rgba(0,0,0,0.5);
}

.remote-menu .buttons .direction:active{
  background: #3f51b5;
}

.remote-menu .buttons .select{
  background: #ffab91;
  color : #f1f1f1 !important;
  text-shadow : 1px 1px 1px rgba(0,0,0,0.5);
}
.remote-menu .buttons .select:active{
  background: #ff5722;
}
.remote-menu .buttons .md-action:active i {
  text-shadow : 1px 1px 1px rgba(0,0,0,0.5);
}
.remote-menu .buttons .action{
  width : 100/3%;
}

.remote-menu .buttons .action {
  text-align: center;
  color: white;
  height: 100%;
  float: left;
  position: relative;
  .box-sizing;
}


.remote-menu .buttons .row {
  display: inline-table;
}

.remote-menu .buttons .row {
  display : block;
  height : 100/5%;
}

.remote-menu .empty.list {
  padding : 0;
  text-align: center;
}

.remote-menu .playlist {
  height: 21rem;
  overflow: hidden;
  overflow-y : auto;
  text-align : left;
  position : relative;
}

.remote-menu .md-action-primary,
.remote-menu .buttons .md-action-primary {
    background: #cddc39 !important;
    color : white !important;
}


/* List items */
.playlist [data-type="list"] li {
  width: 100%;
  min-height: @listMinHeight;
  .box-sizing(border-box);
  transition: transform 0.3s ease, padding 0.3s ease;
  margin: 0;
  display: block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  cursor : pointer;
}

.playlist [data-type="list"] li:hover,
.playlist [data-type="list"] li:active {
  background: @primaryBgColor;
}

.playlist [data-type="list"] li:last-child {
  border: none;
}

/* Text content */
.playlist [data-type="list"] li p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  display: block;
  margin: 0;
  color: @subListTextColor;
  font-size: 1.5rem;
  line-height: 2rem;
}

.playlist [data-type="list"] li p:first-of-type {
  font-size: 1.8rem;
  line-height: 2.2rem;
}

.playlist [data-type="list"] li p time {
  margin-right: 0.3rem;
  text-transform: uppercase;
}

.playlist .poster {
  border: 0.25rem solid #cddc39;
}

.playlist .kodi {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../img/icons/loading.png) no-repeat center 25%;
  background-size: 25%;
  z-index : 4;
}

.playlist .kodi:after {
  content: "Loading";
  position: absolute;
  top: 55%%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  font-family: Roboto;
}

@media screen and (max-width: 1024px) {
    .playing .actions-wrapper{width:25%;}
    .playing .player-wrapper{width:50%;}
    .player-wrapper .times {display: none;}
    .player .label {max-width: 70%;}
}
