.remote .banner {
  background: #03a9f4 url(../img/backgrounds/banner.png) no-repeat center;
  background-size: 100% auto;
}

.arts .label {
  position: absolute;
  right: 0;
  bottom: .5rem;
  left: 0;
  padding: 0.5rem 4rem 0.5rem 1rem;
  overflow: hidden;
  font-size: 1.5rem;
  color: #f1f1f1;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.5);
}

.arts div[role="slider"] {
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  right: 5rem;
}

section[role="region"] .buttons {
  font-size : 3rem;
  position: absolute;
  right : 0;
  top : 10rem;
  bottom : 0;
  left : 0;
  padding-top : 3rem; 

}
section[role="region"] .buttons .md-action{
  position: relative;
  right: 0;
  box-shadow: none;
  transition: all 0.25s ease;
  color : #666 !important;
  background: @primaryBgColor;
}

section[role="region"] .buttons .md-action:active {
  background-color : #009688;
  color : #f1f1f1 !important;
}

section[role="region"] .buttons .md-action i { 
  font-size: 2.5rem; text-shadow:none;
}

section[role="region"] .buttons .direction{
  background: #8c9eff;  
  color : #f1f1f1 !important;
  text-shadow : 1px 1px 1px rgba(0,0,0,0.5);
}

section[role="region"] .buttons .direction:active{
  background: #3f51b5;  
}

section[role="region"] .buttons .select{
  background: #ffab91;
  color : #f1f1f1 !important;
  text-shadow : 1px 1px 1px rgba(0,0,0,0.5);
}
section[role="region"] .buttons .select:active{
  background: #ff5722;
}
section[role="region"] .buttons .md-action:active i { 
  text-shadow : 1px 1px 1px rgba(0,0,0,0.5);
}
section[role="region"] .buttons .action{
  width : 100/3%;
}

section[role="region"] .buttons .action {
  text-align: center;
  color: white;
  height: 100%;
  float: left;
  position: relative;
  .box-sizing;
}


section[role="region"] .buttons .row {
  display: inline-table;
}

section[role="region"] .buttons .row {
  display : block;
  height : 100/5%;
}

form[role="dialog"][data-type="action"] .content .body .command:last-child {
  margin-bottom: 0;
}