.tvshows, .tvshow, .season {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.tvshows .banner,
.tvshow .banner{background-size: auto 100%;}

[data-type="list"] .season {border:0; margin-bottom:0.5rem;}
.tvshows [data-type="list"],
.tvshow [data-type="list"]{
  position: absolute;
  top: 10rem;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: scroll;
}

.tvshow  .playcount {
  position: absolute;
  bottom: 0rem;
  right: -.75rem;
  color: white;
  font-size: 1rem;
  background: @headerBgColor;
  line-height: 1rem;
  height: 1rem;
  width: 1rem;
  padding: 0.5rem;
  z-index: 2;
  font-weight: bold;
  border-radius: 50%;
}

.episode .poster {background-size: auto 100%;}

.episode.detail .rating {
  padding-top: 1rem;
  font-size: 1.5rem;
  color: #00caf2;
  text-align: center;
}

.episode.detail .thumbnail {
  position: relative;
}

.episode.detail .thumbnail img{
  width: 100%;
}
