.tvshows .content {height: calc(100% - 4rem);position:relative;}
.tvshows .tabs{background: @secondaryTabsBgColor;}
.tvshows .tabs .tab.selected {border-color: @secondaryTabsBorderColor;}
.tvshows .tabs .tab{padding: 1rem 0 0.5rem 0;}
.tvshows .tabs .tab .icon-trakt:before{
  width : 1.5rem;
  height : 1.5rem;
  margin-right: .5rem;
}
.tvshows .detail [data-type="list"] {padding-top:1rem;}
.detail h1 .season {
  padding-left : 1rem;
  display: inline-block;
}

.detail h1 .icon-chevron-down,
.detail h1 .icon-chevron-right {
  font-size: 2rem;
  padding-left: 1rem;
}

.detail .progress-wrapper {padding-top : 0.5rem;}
.detail .season {
  padding-left:1rem;
  position: relative;
}

.detail .season .fanart {
  position: relative;
  top: 1.5rem;
  margin:0 1rem 0 0;
  background-size: 100% auto;
}

.detail .season select {
  position: absolute;
  top: 3rem;
  font-size: 2rem;
  left: 7.5rem;
  width: calc(100% - 6rem);
  opacity: 0;
  cursor: pointer;
}

.detail .episode,
.detail .next-episode  {
  color : @primaryTextColor;
  position: relative;
  border-bottom: 1px solid @regionBgColor;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

.detail .episode.playable { cursor: pointer;}
.detail .episode:last-child {
  border-bottom: 0;
}
.detail .next-episode {cursor: default;border:0;}
.detail .episode:hover {background: @regionBgColor;}

.detail .episode p,
.detail .next-episode p{
  padding : 0 .5rem;
  margin: .5rem 0 0 0;
}

.detail .episode .runtime,
.detail .episode .firstaired {
  font-family: Roboto;font-size: 1.25rem;
}

.detail .episode .md-action {
  top: 50%;
  right: auto;
  left: 50%;
  display: none;
  transform: translateX(-50%) translateY(-50%);
}
.detail .episode.playable:hover .md-action{
  display: block;
}

.detail .episode .controls {
  position: absolute;
  right : 0;
  top: 0.5rem;
}

.detail .episode .controls i{
  font-size: 1.75rem;
  opacity: 0.5;
  padding-right:1rem;
}
.detail .episode .controls i:last-child{padding-right:0.5rem;}
.detail .episode .controls i:hover{
  opacity : 1;
}

.detail .episode .more {
  position: absolute;
  top: 0.1rem;
  right: 0.75rem;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
}

.detail .episode .more .dropdown-menu {
  min-width: 15rem;
}

.detail .next,
.detail .previous {
  font-size : 4rem;
  opacity : 0.5;
  position : fixed;
  top : 40%;
  z-index : 9;
  cursor : pointer;
}

.detail .next:hover,
.detail .previous:hover {
  opacity : 1;
}

.detail .next {right : 2rem;}
.detail .previous {left : 2rem;}

.cal-summary {
  position : absolute;
  top : 0;
  bottom : 0;
  width : 17%;
  background : @primaryBgColor;
  text-align: left;
  .box-sizing;
}

.cal-summary h1 {
  text-align: center;
  position : relative;
  color : @actionBgColor;
}

.cal-summary h1 .previous,
.cal-summary h1 .next {
  position : absolute;
  top : 1.5rem;
  font-size: 2rem;
  font-style: normal;
  font-family: arial;
  font-weight: normal;
  color : @primaryTextColor;
  opacity : 0.5;
  z-index: 1;
}
.cal-summary h1 .previous:hover,
.cal-summary h1 .next:hover {
  opacity : 1;
}

.cal-summary h1 .previous {left : 1rem;}
.cal-summary h1 .next {right:1rem;}
.cal-summary .banner{
  width:100%;
  background-size: 100% auto;
  background-position: bottom;
  height : 5rem;
}

.cal-summary h3 {
  text-align: right;
  margin-right : .5rem;
}
.cal-summary li {
  position:relative;
  margin-bottom: 0.25rem;
}
.cal-summary .counter {
  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
  height: 5rem;
  font-family: "Roboto";
  font-size: 2.5rem;
  line-height: 5rem;
  text-align: center;
  background-color: rgba(0,0,0,0.75);
  color: white;
}

.cal-summary ul {
  position : absolute;
  bottom : 0;
  left : 0;
  right : 0;
  top: 12rem;
  background: @tabsBgColor;
  overflow: hidden;
  overflow-y: auto;
}

.cal-grid {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  position: relative;
  margin-left : 17%;
}

.cal-grid .cal-day {
  width: calc(100%/7);
  box-sizing: border-box;
  text-align: left;
  margin : 0;
  display: flex;
  flex-direction: column;
  float : left;
  background: transparent url(../img/icons/loading.png) no-repeat center 5rem ;
  background-size: 50%;
  border-left : 1px solid @primaryBgColor;
}

.cal-grid .cal-day header {
  background: lighten(@regionBgColor, 25%);
  background : @tabsBgColor;
  color : #fff;
  border-top: 1px solid transparent;
  .box-sizing;
  transition: all 750ms ease;
}
.cal-grid .cal-day:hover header {
  background : @secondaryTabsBgColor;
  color : #fff;
}

.cal-grid .cal-day h3 {margin-bottom: 0;}

.cal-grid .cal-day header.past,
.cal-grid .cal-day header.future {opacity:0.25;}
.cal-grid .cal-day .today {
  color : @secondaryTabsBgColor;
}

.cal-grid .cal-day .date{
  float: left;
  font-size: 3rem;
  padding: 0rem 1rem;
}

.cal-grid .cal-day .today .date {
  font-weight: bold;
}

.cal-grid .cal-day .day {
  padding-top : 0.5rem;
  font-size: 1.5rem;
}
.cal-grid .cal-day .card {
  width : 100%;
  border : 0;
  border: .2rem solid transparent;
  margin : 0;
  border-radius: 0;
  .box-sizing;
}

.cal-grid .cal-day .poster {
  height: 9.5rem;
  width: 100%;
  background-size: 100% auto;
}

.cal-grid .cal-day .description {
  text-align: center;
  border-radius : 0;
  padding-bottom: 1rem;
}

.cal-grid .cal-day .actions-wrapper {
  position : relative;
  border-top: 1px solid @borderColor;
  margin-top: 0.5rem;
}

.cal-grid .cal-day .actions-wrapper .controls {
  bottom : .5rem;
}

.cal-grid .cal-day .network {
  width : 5rem;
  position : absolute;
  top : 0rem;
  right : 0rem;
  opacity : 0.75
}