<div class="stats row">
    <div class="offset3 span7">
        <i class="fa fa-trakt"></i>
        <span>
            {{stats.votes | unit}}
            <small>votes</small>
        </span>
        <span>
            {{stats.watchers | unit}}
            <small>watchers</small>
        </span>
        <span>
            {{stats.plays | unit}}
            <small>plays</small>
        </span>
        <span>
            {{stats.collected_episodes | unit}}
            <small>collected</small>
        </span>
        <span>
            {{stats.lists | unit}}
            <small>lists</small>
        </span>
    </div>
</div>