<div ng-switch on="loading" ng-class="{loading : loading}">
    <div ng-switch-when="true" class="loading"><div class="foxy"></div></div>
    <div ng-switch-when="false" class="tvshow detail">
        <div class="arts">
            <div class="fanart" image image-source="library.item.thumbnail | asset:host"></div>
            <div class="md-action md-action-primary"
                 ng-click="xbmc.open({'episodeid': library.item.episodeid})" ng-show="!player.active">
                <i class="icon-play"></i>
            </div>
            <div class="md-action md-action-primary"
                 ng-click="xbmc.queue({'episodeid': library.item.episodeid})" ng-show="player.active && !isCurrentlyPlaying">
                <i class="icon-plus"></i>
            </div>
            <div class="md-action md-action-primary"
                 ng-click="xbmc.togglePlay()" ng-show="player.active && isCurrentlyPlaying">
                <i class="icon-play" ng-show="!player.speed"></i>
                <i class="icon-pause" ng-show="player.speed"></i>
            </div>
            <div class="poster-wrapper">
                <img class=" poster" image image-source="library.item.art['tvshow.poster'] | asset:host | fallback:'img/icons/foxy-512.png'"/>
            </div>
            <streamdetails details="library.item.streamdetails"></streamdetails>
        </div>
        <h1>
            {{library.item.title}}
        </h1>
        <div>
            <div class="row properties">
                <div class="span3">
                    <div class="md-circle clock">
                        <i>{{library.item.runtime | time | date:'HH:mm'}}</i>
                    </div>
                </div>
                <div class="span3">
                    <div rating rating-value="library.item.rating" rating-max="10"></div>
                </div>
                <div class="span3">
                    <div class="md-circle movie genre">
                        <i class="genre-{{library.item.genre.join(' genre-').toLowerCase()}}"></i>
                    </div>
                </div>
                <div class="span3">
                    <div class="md-circle cast" image image-source="library.item.cast[0].thumbnail | asset:host | fallback:'img/icons/foxy-512.png'">
                    </div>
                </div>
            </div>
            
            <p class="plot">{{library.item.plot}}</p>
        </div>
    </div>
</div>
</div>
