<div ng-switch on="loading" ng-class="{loading : loading}">
    <div ng-switch-when="true" class="loading"><div class="foxy"></div></div>
    <div ng-switch-when="false" class="tvshow">
        <div class="arts">
            <div class="banner" image image-source="episodes[0].art['tvshow.banner'] | asset:host | fallback:'img/backgrounds/banner.png'"></div>
            <div class="md-action md-action-primary" ng-show="episodes.length" ng-click="queueAll()">
                <i class="icon-plus"></i>
            </div>
        </div>
        <ul data-type="list" class="view">
            <li class="row episode" ng-repeat="episode in episodes"
                ng-click="go('/tvshow/' + tvshowid + '/'+season+'/'+episode.episodeid, 'none')">
                <div class="span3 flip-container">
                    <flipper>
                        <div class="front">
                            <div class="md-circle poster" image image-source="episode.thumbnail | asset:host">
                                <em class="playcount" ng-show="episode.playcount">&#10003;</em>
                            </div>
                        </div>
                        <div class="back" rating rating-value="episode.rating" rating-max="10"></div>
                    </div>
                </flipper>
                <div class="span8">
                    <p>{{episode.title}}</p>
                    <p>{{episode.episode | episode:episode.season}}</p>
                </div>
            </li>
        </ul>
        <div ng-show="!episodes.length" class="empty list">Oops! nothing here</div>
    </div>

</div>


