<div ng-switch on="loading" ng-class="{loading : loading}">
    <div ng-switch-when="true" class="loading"><div class="foxy"></div></div>
    <div class="view tvshows" ng-switch-when="false">
        <div class="arts">
            <div class="banner" image image-source="randomShow.art.banner | asset:host">
            </div>
            <div class="md-action md-action-primary"
                 ng-click="scan()">
                <i class="icon-refresh"></i>
            </div>
        </div>
        <div class="spinner" ng-show="scanning">
            <div class="bar"></div>
        </div>
        <ul data-type="list" lr-infinite-scroll="loadMore">
            <li class="tvshow row" ng-repeat="show in tvshows"
                ng-click="go('/tvshow/' + show.tvshowid, 'none')">
                <div class="span3 flip-container">
                    <flipper>
                        <div class="front">
                            <div class="md-circle poster front" image image-source="show.thumbnail | asset:host">
                                <em class="playcount" ng-show="show.playcount">&#10003;</em>
                            </div>
                        </div>
                        <div class="back" rating rating-value="show.rating" rating-max="10"></div>
                    </flipper>
                </div> 
                <div class="span8">
                    <p>{{show.title}}</p>
                    <p>{{show.genre.join(', ')}}</p>
                    <p>{{show.episode}} episodes</p>
                </div>
            </li>
        </ul>
        <div ng-show="!tvshows.length" class="empty list">Oops! nothing here</div>
        <spinner ng-show="fetching"></spinner>
    </div>
</div>


