<div ng-switch on="loading" class="fill-height">
    <div ng-switch-when="false" class="cards tvshows">
        <ul data-type="list" lr-infinite-scroll="loadMore">
            <li class="card tvshow" ng-repeat="show in tvshows"
                ng-click="go('/tvshow/' + show.tvshowid, 'none')">
                <div class="poster" image image-source="show.thumbnail | asset:host | fallback:'img/icons/foxy-512.png'">
                    <div rating rating-value="show.rating" rating-max="10"></div>
                </div>
                <div class="description">
                    <h3>{{show.title}}</h3>
                    <p>{{show.genre.join(', ')}}</p>
                    <p>{{show.episode}} episodes</p>
                </div>
            </li>
        </ul>
        <div ng-show="!tvshows.length" class="empty list">Oops! nothing here</div>
        <spinner ng-show="fetching"></spinner>
    </div>
</div>


