<div ng-switch on="loading" class="fill-height" ng-class="{loading : loading}">
    <div ng-switch-when="true" class="loading"><div class="kodi"></div></div>
     <div ng-switch-when="false" class="fill-height" >
        <ul data-type="list" lr-infinite-scroll="loadMore">
            <li class="card tvshow" ng-repeat="show in tvshows">
                <a href="#/tvshow/{{show.tvshowid}}">
                    <div class="poster" image image-source="show.thumbnail | asset:host | fallback:'img/icons/foxy-512.png'">
                        <div rating rating-value="show.rating" rating-max="10"></div>
                        <div class="playcount" ng-show="show.playcount">
                             <i class="icon-ok"></i>
                        </div>
                    </div>
                    <div class="description">
                        <h3>{{show.title}}</h3>
                        <p>{{show.genre.join(', ')}}</p>
                        <p>{{show.episode}} episodes</p>
                        <seekbar seekbar-value="show.watchedepisodes" seekbar-max="show.episode"
                                 seekbar-read-only="true">
                        </seekbar>
                        <div class="controls" >
                            <i ng-class="{'icon-eye-open':!show.playcount, 'icon-eye-close':show.playcount}"
                                   ng-click="toggleWatched(show); $event.preventDefault();"
                                  ></i>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        <div ng-show="!tvshows.length" class="empty list">Oops! nothing here</div>
    </div>
</div>