<div class="fill-height">
    <div class="kodi" ng-hide="tvshows.length"></div>
    <ul data-type="list" lr-infinite-scroll="loadMore">
        <li class="card tvshow repeat-animation" ng-repeat="show in tvshows">
            <a href="#/tvshow/{{show.tvshowid}}">
                <div class="poster" image image-source="show.thumbnail | asset:host | fallback:'img/icons/awe-512.png'">
                    <div rating rating-value="show.rating" rating-max="10"></div>
                    <div class="playcount" ng-show="show.playcount">
                         <i class="icon-ok"></i>
                    </div>
                    <img class="studio" image image-source="studioFn({studio : show.studio[0]})"
                         ng-show="show.studio.length"
                         onerror="this.style.display='none';"/>
                </div>
                <div class="description">
                    <h3>{{show.title}}</h3>
                    <p>{{show.episode}} episodes</p>
                    <p class="clock">&nbsp;</p>
                    <seekbar seekbar-value="show.watchedepisodes" seekbar-max="show.episode"
                             seekbar-read-only="true">
                    </seekbar>
                    <div class="controls" >
                        <i ng-class="{'icon-eye-open':!show.playcount, 'icon-eye-close':show.playcount}"
                           ng-click="toggleWatched(show); $event.preventDefault();"
                        ></i>
                        <i class="icon-trash"
                           ng-click="remove($index, show); $event.preventDefault();"
                        ></i>
                    </div>
                </div>
            </a>
        </li>
    </ul>
    <div ng-show="!tvshows.length" class="empty list">Oops! nothing here</div>
</div>