<div ng-switch on="player.active">
    <div ng-switch-when="true" class="row actions">
        <div class="span2" ng-tap="xbmc.previous()">
            <i class="icon-fast-backward"></i>
        </div>
        <div class="span2" ng-tap="xbmc.backward()">
            <i class="icon-backward"></i>
        </div>
        <div class="span2" ng-tap="xbmc.togglePlay()">
            <i class="icon-play" ng-show="!player.speed"></i>
            <i class="icon-pause" ng-show="player.speed"></i>
        </div>
        <div class="span2" ng-tap="xbmc.stop()">
            <i class="icon-stop"></i>
        </div>
        <div class="span2" ng-tap="xbmc.forward()">
            <i class="icon-forward"></i>
        </div>
        <div class="span2" ng-tap="xbmc.next()">
            <i class="icon-fast-forward"></i>
        </div> 
    </div>
    <div ng-switch-when="false">
     <div ng-include="'layout/footers/basic.tpl.html'"></div>
    </div>
</div>
