<div ng-repeat="comment in comments" class="row comment-wrapper" ng-if="comment.comment">
    <div class="caret"></div>
    <p class="comment" ng-class="{spoiler : comment.spoiler, revealed: comment.revealed}"
        ng-click="comment.revealed = true;">
        {{comment.comment}}
    </p>
    <div class="pull-right posted-at">
        Posted {{comment.created_at | date : 'MMMM d, yyyy HH:mm'}}
    </div>
    <div class="user">
        <a href="https://trakt.tv/users/{{comment.user.username}}" target="_blank">
            <img class="md-circle" image image-source="comment.user.images.avatar.full | fallback:'https://trakt.tv/assets/logos/header@2x-7eadb5555cf21dbe5f791e9638b175f7.png'"/>
        </a>
        <div class="name">{{comment.user.username}}</div>
    </div>
</div> 