/* ----------------------------------
 * Action menu
 * ---------------------------------- */

/* Main dialog setup */
form[role="dialog"][data-type="action"] {
  overflow: hidden;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
}

form[role="dialog"][data-type="action"] .content{
  background:  @dialogBgColor;
  box-shadow : 0 27px 24px 0 rgba(0,0,0,.2);
  position: absolute;
  top : 20%;
  padding: 2rem 2rem 1.5rem 2rem;
  width : 25rem;
  margin-left : -12.5rem;
  left : 50%;
  .box-sizing;
}

form[role="dialog"][data-type="action"] .content header{
  color : #4d4d4d;
  padding : 0 0 1.5rem 0;
  font-size: 2rem;
}

form[role="dialog"][data-type="action"] .content .body{
  padding: 0 0 2rem 0;
  margin: 0;
  font-size: 1.2rem;
}

form[role="dialog"][data-type="action"] .content .body label{
  display: block;
}

form[role="dialog"][data-type="action"] .content .body textarea,
form[role="dialog"][data-type="action"] .content .body input {
  border: 0;
  box-shadow: none;
  border-bottom: 1px solid rgb(169, 169, 169);
}

form[role="dialog"][data-type="action"] .content .body textarea{
  height : auto;
  margin: 0;
  line-height: 1rem;
}

form[role="dialog"][data-type="action"] .content .actions{
  line-height: 3rem;
  text-transform: uppercase;
  text-align: right;
}

form[role="dialog"][data-type="action"] .content .actions button {
  padding : 0 1.5rem;
  width: auto;
  background: transparent;
  border: 0;
  cursor: pointer;
  opacity : 0.5;
  height: auto;
  margin : 0;
}

form[role="dialog"][data-type="action"] .content .actions button:hover {
  opacity: 1;
}

form[role="dialog"][data-type="action"] .content .actions .recommend {
  color : #2196f3;
  font-weight: bold;
}