.fanarts {
  position : relative;
  background : @tabsBgColor;
}

.fanarts img{
  max-width: none;
  position:absolute;
  top:20%;
  left:50%;
  transform: translateX(-50%) translateY(-20%);
  opacity:0;
  transition-property: opacity, transform;
  transition-duration: 3s, 8s;
  width : 100%;
}

.fanarts .fx:first-child + img ~ img  {
    z-index:-1;
}
.fanarts img  {
    transform-origin: center center;
}
.fanarts :nth-child(2n+1) {
    transform-origin: 25% 75%;
}
.fanarts :nth-child(3n+1) {
    transform-origin: 25% 25%;
}
.fanarts :nth-child(4n+1) {
    transform-origin: 75% 75%;
}

.fanarts .fx:first-child + img ~ img  {
    z-index:-1;
}

.fanarts .fx {
    opacity:1;
    transform: translateX(-50%) translateY(-20%) scale(1.1);
}