
/* ----------------------------------
 * REGIONS: default
 * ---------------------------------- */
#grid > .fluid(@fluidGridColumnWidth, @fluidGridGutterWidth);
section[role="region"] {
  height: 100%;
  overflow: hidden;
  background: @regionBgColor;
}

section[role="region"] div[role="main"],
section[role="region"] div[role="splash"] {
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2rem;
  right: 0;
  
}

section[role="region"] div[role="splash"] {
 background: #03a9f4;
}

section[role="region"] div[role="main"].no-footer {
  bottom: 0;
}

section[role="region"] div[role="main"]:last-child {
  bottom: 0;
}

section[role="region"] div[role="splash"] .foxy {
  position: absolute;
  height : 20rem;
  width: 20rem;
  bottom: 0%;
  left: 0%;
  background: transparent url(../img/icons/foxy-512.png) no-repeat center bottom;
  background-size: 100%;
}