@import "../yang/variables";

@regionBgColor : #e5e5e5;
@draverBgColor : @regionBgColor;

@borderColor : #073642;

@secondaryBgColor : #03a9f4;
@listBorderColor : #073642;

@dialogTextColor : white;

@spinnerBgColor : #666;

@actionBgColor : #D65447;