@import "../yang/variables";

@regionBgColor : #002b36;
@draverBgColor : @regionBgColor;

@borderColor : #073642;

@secondaryBgColor : #cddc39;
@listBorderColor : #073642;

@dialogTextColor : white;

@spinnerBgColor : #666;