<div class="now">
    <div class="arts">
        <div class="banner" image image-source="player.item.fanart | asset:host | fallback:'img/backgrounds/banner.png'"></div>
        <seekbar seekbar-value="player.seek.percentage" seekbar-max="100" seekbar-read-only="true"></seekbar>
        <div class="label">{{player.item.label}}</div>
        <div class="md-action md-action-primary" ng-click="xbmc.next()">
                <i class="fa fa-fast-forward"></i>
        </div>
    </div>
    <div class="playlist">
        <ul data-type="list" class="view" ng-if="!loading && items.length">
            <li class="row " ng-repeat="item in items"
                ng-click="goTo($index)">
                <div class="span3 wrapper">
                    <div class="md-circle poster" image image-source="item.art | thumb | asset:host | fallback:'img/icons/awe-512.png'"></div>
                </div>
                <div class="span8">
                    <p>{{item.label}}</p>
                    <p ng-show="item.duration">{{item.duration | time | date :'mm:ss'}}</p>
                    <p ng-show="item.runtime">{{item.runtime| time | date :'hh:mm:ss'}}</p>
                    <img class="equalizer" src="img/backgrounds/equalizer.gif" ng-show="isPlaying(item.id)"/>
                </div>
            </li>
        </ul>
        <div ng-if="!loading &&!items.length" class="empty list">Oops! nothing here</div>
        <div ng-if="loading" class="loading"><div class="kodi"></div></div>
    </div>
</div>