<div class="row buttons">
    <div class="actions-wrapper row">
        <div class="span4">
            <div class="md-action" ng-click="xbmc.previous()" >
                <i class="icon icon-fast-backward"></i>
            </div>
        </div>
        
        <div class="span4">
            <div class="md-action primary" ng-click="xbmc.togglePlay()">
                <i ng-class="{'icon-play' : !player.speed, 'icon-pause' : player.speed}"></i>
            </div>
        </div>
        <div class="span4">
            <div class="md-action" ng-click="xbmc.next()"  >
                <i class="icon icon-fast-forward"></i>
            </div>
        </div>

    </div>
    <div class="player-wrapper " ng-switch on="player.active">
        <div ng-switch-when="false" class="empty">
        </div>
        <div ng-switch-when="true">
            <seekbar seekbar-value="player.seek.percentage" seekbar-max="100"
            on-seekbar-changed="onSeekbarChanged(newValue)"
            class="seekbar"></seekbar>
            <div class="player row">
                <a href="#{{getHashForItem()}}" class="poster-wrapper" >
                    <div class="poster" image image-source="player.item.thumbnail | asset:host | fallback:'img/icons/awe-512.png'"
                         ng-class="{show : player.item.type === 'episode'}"></div>
                </a>
                <div class="label">{{player.item.label}}</div>
                <div class="label times" ng-click="toggleTimePicker()">
                    {{player.seek.time | time | date:'HH:mm:ss'}}/
                    {{player.seek.totaltime | time | date:'HH:mm:ss'}}
                    [-{{(player.seek.totaltime - player.seek.time)  | time | date:'HH:mm:ss'}}]
                </div>
                <div class="md-action stop" ng-click="xbmc.stop()">
                    <i class="icon icon-stop"></i>
                </div>
                <div class="md-action more">
                    <i class="icon icon-ellipsis-vertical" ng-show="isTypeVideo()"></i>
                    <ul class="dropdown-menu" ng-show="isTypeVideo()">
                        <li ng-click="xbmc.showOSD()">OSD</li>
                        <li ng-click="toggleAudioStreams()">Switch audio</li>
                        <li ng-click="toggleSubtitles()">Switch subtitles</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="actions-wrapper">
       <div class="span3">
           <div class="md-action" ng-click="xbmc.home()" >
                <i class="icon-home"></i>
            </div>
        </div>
        <div class="span3">
            <div class="md-action"  ng-click="xbmc.open({'file' : undefined})">
                <i class="icon-headphones"></i>
            </div>
        </div>
        <div class="span3">
            <div class="md-action">
                <i class="icon-volume-up" ng-show="application.muted" ng-click="xbmc.mute()"></i>
                <i class="icon-volume-off" ng-show="!application.muted" ng-click="xbmc.mute()"></i>
                <div class="volume-wrapper">
                    <seekbar seekbar-value="application.volume" seekbar-max="100"
                    on-seekbar-changed="onVolumeChanged(newValue)"
                    seekbar-orientation="vertical"
                    class="volume seekbar"></seekbar>
                </div>
            </div>
        </div>

        <div class="span3">
            <div class="md-action more">
                <i class="icon icon-ellipsis-vertical"></i>
                 <div class="remote-menu buttons"
                      ng-include src="'modules/remote/remote.tpl.html'"></div>
            </div>
        </div>
    </div>
</div>



<form role="dialog" data-type="action" class="chooser" onsubmit="return false;" ng-show="showAudioSelect">
    <div class="content">
        <header> Audio Streams </header>
        <div class="body">
            <label ng-repeat="audiostream in player.audiostreams">
                <input type="radio" ng-model="stream" ng-value="audiostream.index" name="audiostreams"/>
                {{audiostream.name}} ( {{audiostream.language}})
            </label>
        </div>
        <div class="actions">
            <button ng-click="toggleAudioStreams()"> Cancel </button>
            <button class="recommend" ng-click="onValidateAudioStream()"> Ok </button>
        </div>
    </div>
</form>

<form role="dialog" data-type="action" class="chooser" onsubmit="return false;" ng-show="showSubtitleSelect">
    <div class="content">
        <header> Subtitles </header>
        <div class="body">
            <label>
                <input type="radio" ng-model="sub" value="off" name="subtitles"/>
                None
            </label>
            <label ng-repeat="subtitle in player.subtitles">
                <input type="radio" ng-model="sub" ng-value="subtitle.index" name="subtitles"/>
                {{subtitle.name}} ({{subtitle.language}})
            </label>
        </div>
        <div class="actions">
            <button ng-click="toggleSubtitles()"> Cancel </button>
            <button class="recommend" ng-click="onValidateSubtitles()"> Ok </button>
        </div>
    </div>
</form>

<form role="dialog" data-type="action" class="chooser" onsubmit="return false;" ng-show="showTimePicker">
    <div class="content">
        <header>Select time </header>
        <div class="body">
            <div class="time">
                <div ng-model="seekTime" class="picker">
                    <timepicker hour-step="1" minute-step="1" show-meridian="false"></timepicker>
                </div>
            </div>
        </div>
        <div class="actions">
            <button  ng-click="toggleTimePicker()"> Cancel </button>
            <button class="recommend" ng-click="onValidateSeekTime()"> Ok </button>
        </div>
    </div>
</form>


<form role="dialog" data-type="action" class="chooser" onsubmit="return false;" ng-show="showKeyboard">
    <div class="content">
        <header>Send text</header>
        <div class="body">
            <textarea class="offset1 span10" ng-model="textToSend"
                          placeholder="Text to send"></textarea>
        </div>
        <div class="actions">
            <button ng-click="toggleKeyboard()"> Cancel </button>
            <button class="recommend"   ng-click="onValidateText()"> Ok </button>
        </div>
    </div>
</form>


<form role="dialog" data-type="action" class="chooser" onsubmit="return false;" ng-show="showShutdownOptions">
    <div class="content">
        <header>System</header>
        <div class="body">
            <button class="command" ng-click="execCommand('shutdown')">Power off</button>
            <button class="command" ng-click="execCommand('hibernate')">Hibernate</button>
            <button class="command" ng-click="execCommand('suspend')">Suspend</button>
            <button class="command" ng-click="execCommand('reboot')">Reboot</button>
        </div>
        <div class="actions">
            <button ng-click="toggleShutdownOptions()">Cancel</button>
        </div>
    </div>
</form>