
<div class="hosts">
  <div class="arts">
      <div class="banner"></div>
      <div class="md-action md-action-primary" ng-click="go('/host/wizard')" ng-show="!hasSelected">
          <i class="icon-plus"></i>
      </div>
      <div class="md-action md-action-primary" ng-click="setAsDefault()" ng-show="hasSelected">
          <i class="icon-ok"></i>
      </div>
  </div>
  <ul data-type="list">
      <li class="row host" ng-repeat="host in hosts"
          ng-click="go('/host/' + $index)">
          <div ng-switch on="host.default">
            <div ng-switch-when="true" class="span3 wrapper">
              <div class="md-action md-action-primary poster">
                <i class="icon-ok"></i>
              </div> 
            </div>
            <div ng-switch-when="false" class="span3 flip-container" ng-click="setAsDefault(host);$event.stopPropagation();">
              <flipper>
                <div class="md-circle poster front" image image-source="host.thumbnail | asset:host| fallback:'img/icons/foxy-512.png'">
                </div>
                <div class="md-action md-action-primary poster back" >
                  <i class="icon-ok"></i>
                </div>   
              </flipper>
            </div>
          <div class="span8">
              <p>{{host.displayName}}</p>
              <p>{{host.ip}}</p>
          </div>
      </li>
      <li ng-show="!hosts.length" class="empty list">Oops! There is no host yet configured. Use the <i class="icon-plus"></i> icon to get started.</li>
  </ul>
</div>
