<div ng-switch on="loading" class="movie detail fill-height" ng-class="{loading : loading}">
    <div ng-switch-when="true" class="loading"><div class="kodi"></div></div>
    <div ng-switch-when="false">
        <div class="row wrapper">
            <div class="fanart" image image-source="library.item.fanart | asset:host"></div>
            <div class="offset2 span5 clearfix" style="position:relative;">
                <div class="poster-wrapper">
                    <img class=" poster" image image-source="library.item.thumbnail | asset:host | fallback:'img/icons/awe-512.png'"/>
                </div>
                <div class="details">
                    <h1>{{library.item.title}}</h1>
                    <h3>{{library.item.genre.join(', ')}}</h3>
                    <p>{{library.item.year}}</p>
                    <div class="row properties clearfix">
                        <div class="md-circle clock">
                            <i>{{library.item.runtime | time | date:'HH:mm'}}</i>
                        </div>
                        <div rating rating-value="library.item.rating" rating-max="10"></div>
                        <div class="md-circle movie genre">
                            <i class="genre-{{library.item.genre.join(' genre-').toLowerCase()}}"></i>
                        </div>
                        <div class="md-circle cast" image image-source="library.item.cast[0].thumbnail | asset:host | fallback:'img/icons/awe-512.png'">
                        </div>
                        <div class="md-circle studio">
                            <img image image-source="studioFn({studio : library.item.studio[0]})"
                                 ng-show="library.item.studio.length"
                                 onerror="this.src='img/icons/default-studio.png';"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span3 actions">
                <div class="md-action md-action-primary"
                     ng-click="xbmc.open({'movieid': library.item.movieid})" ng-show="!player.active">
                    <i class="icon-play"></i>
                </div>
                <div class="md-action md-action-primary"
                     ng-click="xbmc.queue({'movieid': library.item.movieid})" ng-show="player.active && !isCurrentlyPlaying">
                    <i class="icon-plus"></i>
                </div>
                <div class="md-action md-action-primary"
                     ng-click="xbmc.togglePlay()" ng-show="player.active && isCurrentlyPlaying">
                    <i class="icon-play" ng-show="!player.speed"></i>
                    <i class="icon-pause" ng-show="player.speed"></i>
                </div>
            </div>
        </div>
        <div class="description">
            <div class="row">
                <div class="offset2 span5">
                    <h1>Synopsis</h1>
                    <p class="plot">{{library.item.plot}}</p>
                </div>
                <div  class="span3">
                    <div class="fanart" image image-source="library.item.fanart | asset:host | fallback:'img/icons/awe-512.png'">
                        <div class="preview"  ng-click="xbmc.open({'file': library.item.trailer})">
                            <i class="icon-film"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="offset2 span8">
                    <h1>
                        Actors
                        <a href="javascript:void(0);" ng-click="seeMoreActors=true;" class="more" ng-class="{hidden : seeMoreActors}">
                            See more
                        </a>
                    </h1>
                    <ul class="actors" ng-class="{collapsed : !seeMoreActors}">
                        <li class="actor" ng-repeat="actor in getActors()">
                            <div class="poster" image image-source="actor.thumbnail | asset:host | fallback:'img/icons/awe-512.png'">
                            </div>
                            <div class="name">{{actor.name}}</div>
                            <div class="role">{{actor.role}}</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="offset2 span8">
                    <h1>Credits</h1>
                    <ul>
                        <li class="row credit">
                            <b class="span3">Directors</b>
                            <div class="span9">{{library.item.director.join(', ')}}</div>
                        </li>
                        <li class="row credit">
                            <b class="span3">Writers</b>
                            <div class="span9">{{library.item.writer.join(', ')}}</div>
                        </li>
                        <li class="row credit">
                            <b class="span3">Studio</b>
                            <div class="span9">{{library.item.studio.join(', ')}}</div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row" ng-show="similars.length">
                <div class="offset2 span8">
                    <h1>Similars</h1>
                    <ul class="similars collapsed">
                        <li class="similar" ng-repeat="similar in similars">
                            <div class="poster" image image-source="getPosterURL(similar) | fallback:'img/icons/awe-512.png'">
                            </div>
                            <div class="title">{{similar.title}}</div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="offset2 span8">
                    <h1>Additional information</h1>
                    <ul>
                        <li class="row info">
                            <b class="span3">Video</b>
                            <div class="span9">{{getVideoDefinition()}}</div>
                        </li>
                        <li class="row info">
                            <b class="span3">Audio languages</b>
                            <div class="span9">{{getAudio()}}</div>
                        </li>
                        <li class="row info" ng-show="library.item.mpaa !==''">
                            <b class="span3">MPAA</b>
                            <div class="span9">{{library.item.mpaa}}</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>