<div ng-switch on="loading" class="fill-height">
    <div ng-switch-when="false" class="cards movies">
        <ul data-type="list" lr-infinite-scroll="loadMore">
            <li class="card movie" ng-repeat="movie in movies"
                ng-click="go('/movie/' + movie.movieid, 'none')">
                <div class="poster" image image-source="movie.thumbnail | asset:host | fallback:'img/icons/foxy-512.png'">
                    <div rating rating-value="movie.rating" rating-max="10"></div>
                </div>
                <div class="description">
                    <h3>{{movie.label}}</h3>
                    <p>{{movie.genre.join(', ')}}</p>
                    <p class="clock">
                        {{movie.runtime | time | date:'HH:mm'}}
                    </p>
                </div>
                
            </li>
        </ul>
        <div ng-show="!movies.length" class="empty list">Oops! nothing here</div>
        <spinner ng-show="fetching"></spinner>
    </div>
</div>