<div ng-switch on="loading" class="movie detail fill-height" ng-class="{loading : loading}">
    <div ng-switch-when="true" class="loading"><div class="kodi"></div></div>
    <div ng-switch-when="false">
        <div class="experimental row" ng-show="!isExternalAddonAvailable && isUsingExternalAddon()">
            <div class="offset2 span8">
                <i class="fa fa-flask"></i>
                {{host.videoAddon}} needed to preview discoverable content.
            </div>
        </div>
        <div class="row wrapper">
            <tmdb-fanarts fanarts="fanarts" delay="10000" primary="getImage(movie.fanart)"></tmdb-fanarts>
            <div class="actions" ng-if="hasAdditionalInfo()">
                <div class="md-action md-action-primary"
                     ng-click="play(movie)" ng-show="!player.active">
                    <i class="fa fa-play"></i>
                </div>
                <div class="md-action md-action-primary"
                     ng-click="queue(movie)" ng-show="player.active && !isCurrentlyPlaying">
                    <i class="fa fa-plus"></i>
                </div>
                <div class="md-action md-action-primary"
                     ng-click="xbmc.togglePlay()" ng-show="player.active && isCurrentlyPlaying">
                    <i class="fa fa-play" ng-show="!player.speed"></i>
                    <i class="fa fa-pause" ng-show="player.speed"></i>
                </div>
            </div>
            <div class="actions" ng-if="!hasAdditionalInfo()">
                <div class="md-action md-action-primary"
                     ng-click="play(movie)">
                    <i class="fa fa-play"></i>
                </div>
            </div>
            <div class="title">
                <h1>{{movie.title}}</h1>
            </div>
            <trakt-stats stats="stats"></trakt-stats>
        </div>
        
        <div class="description row">
            <div class="offset1 span2 sidebar">
                <div class="poster-wrapper">
                    <img class=" poster" image image-source="getImage(movie.thumbnail || movie.poster, 'w185')"/>
                    <div class="preview"  ng-click="xbmc.open({'file': movie.trailer})">
                        <i class="fa fa-film"></i>
                    </div>
                </div>
                <ul class="nav sections">
                    <li style="text-align: center">
                        {{movie.title}}
                        <seekbar seekbar-value="movie.resume.position || 0" seekbar-max="movie.resume.total || 100"
                                 seekbar-read-only="true" class="progress-wrapper"
                                 ng-if="hasAdditionalInfo()">
                        </seekbar>
                    </li>
                    <li class="row">
                        <div class="span6 label">
                            <i class="fa fa-clock-o"></i>
                            Runtime
                        </div>
                        <div class="span6 value">{{movie.runtime | time | date:'HH:mm'}}</div>
                    </li>
                    <li class="row">
                        <div class="span6 label">
                            <i class="fa fa-star"></i>
                            Rating
                        </div>
                        <div class="span6 value">{{movie.rating| number : 1}}</div>
                    </li>
                    <li class="row">
                        <div class="span6 label">
                            <i class="genre-{{movie.genre[0].toLowerCase()}}"></i>
                            Genre
                        </div>
                        <div class="span6 value">{{movie.genre[0]}}</div>
                    </li>
                    <li class="row">
                        <div class="span6 label">
                            <i class="fa fa-calendar"></i>
                            Released
                        </div>
                        <div class="span6 value">{{movie.year}}</div>
                    </li>
                </ul>
                <div ng-if="hasAdditionalInfo()">
                    <button class="recommend"
                         ng-click="play(movie)" ng-show="!player.active">
                        <i class="fa fa-play"></i> Play
                    </button>
                    <button class="recommend"
                         ng-click="queue(movie)" ng-show="player.active && !isCurrentlyPlaying">
                        <i class="fa fa-plus"></i> Queue
                    </button>
                    <button class="recommend"
                         ng-click="xbmc.togglePlay()" ng-show="player.active && isCurrentlyPlaying">
                        <i class="fa fa-play" ng-show="!player.speed"></i>
                        <i class="fa fa-pause" ng-show="player.speed"></i>
                        <span ng-show="!player.speed">Resume</span>
                        <span ng-show="player.speed">Pause</span>
                    </button>
                </div>
                <div ng-if="!hasAdditionalInfo()">
                    <button class="recommend"
                         ng-click="play(movie)">
                        <i class="fa fa-play"></i> Play
                    </button>
                </div>
            </div>
            <div class="span7 content">
                <div class="details-section">
                    <h1>Synopsis</h1>
                    <div class="row">
                        <div class="span9">
                            <p class="plot">{{movie.plot}}</p>
                        </div>
                        <trakt-actions class="span3" media-type="'movies'" imdb="movie.imdbnumber">
                        </trakt-actions>
                    </div>
                </div>
                <div class="details-section">
                    <h1>
                        Actors
                        <a href="javascript:void(0);" ng-click="seeMoreActors=true;" class="more" ng-class="{hidden : seeMoreActors}">
                            See more
                        </a>
                    </h1>
                    <ul class="actors" ng-class="{collapsed : !seeMoreActors}">
                        <li class="actor" ng-repeat="actor in getActors()">
                            <img class="poster" image image-source="getImage(actor.thumbnail)"/>

                            <div class="name">{{actor.name}}</div>
                            <div class="role">{{actor.role}}</div>
                        </li>
                    </ul>
                </div>
                <div class="details-section">
                    <h1>Credits</h1>
                    <ul>
                        <li class="row credit">
                            <b class="span3">Directors</b>
                            <div class="span9">{{movie.director.join(', ')}}</div>
                        </li>
                        <li class="row credit">
                            <b class="span3">Writers</b>
                            <div class="span9">{{movie.writer.join(', ')}}</div>
                        </li>
                        <li class="row credit">
                            <b class="span3">Studio</b>
                            <div class="span9">{{movie.studio.join(', ')}}</div>
                        </li>
                    </ul>
                </div>

                <div class="details-section" ng-if="similars.length">
                    <h1>Similars</h1>
                    <ul class="similars collapsed">
                        <li class="similar" ng-repeat="similar in similars">
                            <a href="#/movies/tmdb/{{similar.id}}">
                                <div class="poster" image
                                     image-source="similar.poster | tmdbImage:'w185' | fallback:'img/icons/awe-512.png'">
                                </div>
                            </a>
                            <div class="title">{{similar.title}}</div>
                        </li>
                    </ul>
                </div>

                <div class="details-section" ng-if="hasAdditionalInfo()">
                    <h1>Additional information</h1>
                    <ul>
                        <li class="row info">
                            <b class="span3">Video</b>
                            <div class="span9">{{getVideoDefinition()}}</div>
                        </li>
                        <li class="row info">
                            <b class="span3">Audio languages</b>
                            <div class="span9">{{getAudio()}}</div>
                        </li>
                        <li class="row info" ng-show="movie.mpaa !==''">
                            <b class="span3">MPAA</b>
                            <div class="span9">{{movie.mpaa}}</div>
                        </li>
                    </ul>
                </div>
                <div class="details-section" ng-if="comments.length">
                    <h1>Popular comments</h1>
                    <trakt-comments comments="comments"></trakt-comments>
                </div>
            </div>
        </div>
    </div>
</div>