<div class="cards fill-height">
    <div class="kodi" ng-hide="movies.length"></div>
    <ul data-type="list" lr-infinite-scroll="loadMore" scroll-threshold="200">
        <li class="card movie repeat-animation" ng-repeat-start="movie in movies">
            <a href="{{getMoviesPath(movie)}}">
                <div class="poster" image image-source="getPoster(movie)">
                    <flipper ng-show="hasControls()">
                        <div class="front">
                            <div rating rating-value="movie.rating" rating-max="10"></div>
                        </div>
                        <div class="back">
                            <div class="md-circle rating">
                                <i class="fa fa-play" ng-click="helper.local.movies.play(movie); $event.preventDefault();"
                                   ng-show="!player.active"></i>
                                <i class="fa fa-plus" ng-click="queue(movie); $event.preventDefault();"
                                   ng-show="player.active"></i>
                            </div>
                        </div>
                    </flipper>
                    <div class="rating-wrapper" ng-show="!hasControls()">
                        <div rating rating-value="movie.rating" rating-max="10"></div>
                    </div>
                    <div class="playcount" ng-show="movie.playcount">
                         <i class="fa fa-check"></i>
                    </div>
                </div>
                <div class="description">
                    <h3>{{movie.label || movie.title}}</h3>
                    <h4>{{movie.year}}</h4>
                    <p class="clock" ng-if="movie.runtime">
                        {{movie.runtime | time | date:'HH:mm'}}
                    </p>
                    <div ng-show="hasControls()">
                        <seekbar seekbar-value="movie.resume.position" seekbar-max="movie.resume.total"
                                 seekbar-read-only="true">
                        </seekbar>
                        <div class="controls">
                            <i class="fa" ng-class="{'fa-eye':!movie.playcount, 'fa-eye-slash':movie.playcount}"
                               ng-click="toggleWatched(movie); $event.preventDefault();"
                              ></i>
                            <i class="fa fa-trash"
                               ng-click="remove($index, movie); $event.preventDefault();"
                            ></i>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="card movie" ng-repeat-end ng-if="$index===supportIndex" ng-click="showSupport();">
            <a href="javascript:void:0;">
                <div class="poster" image image-source="'img/backgrounds/support.png'">
                    <img src="../img/icons/loading.png" width="75%" class="arch"/>
                    <div class="rating-wrapper">
                        <div class="md-circle rating">
                            <i class="fa fa-paypal"></i>
                        </div>
                    </div>
                </div>
                 <div class="description">
                    <h3>Enjoying Arch ?</h3>
                    <h4>Support us!</h4>
                    <p class="clock" ng-show="hasControls()">&nbsp;</p>
                    <div ng-show="hasControls()">
                        <seekbar seekbar-value="0" seekbar-max="1"
                                 seekbar-read-only="true">
                        </seekbar>
                    </div>
                </div>
            </a>
        </li>
    </ul>
    <div ng-show="!movies.length" class="empty list">Oops! nothing here</div>
</div>