<div class="row buttons">
  <div class="span2 actions-wrapper" style="text-align:center;">
    <div class="md-action" ng-click="xbmc.previous()" >
        <i class="icon icon-fast-backward"></i>
    </div>
    <div class="md-action" ng-click="xbmc.togglePlay()" ng-show="!player.speed">
        <i class="icon-play"></i>
    </div>
    <div class="md-action" ng-click="xbmc.togglePlay()"  ng-show="player.speed">
        <i class="icon-pause"></i>
    </div>
    <div class="md-action" ng-click="xbmc.next()"  >
        <i class="icon icon-fast-forward"></i>
    </div>
  </div>
  <div class="span8 player-wrapper" ng-switch on="player.active">
    <div ng-switch-when="false" class="empty">
    </div>
    <div ng-switch-when="true">
      <seekbar seekbar-value="player.seek.percentage" seekbar-max="100"
           on-seekbar-changed="onSeekbarChanged(newValue)"
           class="seekbar"></seekbar>
      <div class="player">

        <div class="poster-wrapper" >
          <div class="poster" image image-source="player.item.thumbnail | asset:host | fallback:'img/icons/foxy-512.png'"></div>
        </div>
        <div class="label">{{player.item.label}}</div>
        <div class="md-action more">
          <i class="icon icon-ellipsis-vertical" ng-show="isTypeVideo()"></i>
          <ul class="dropdown-menu" ng-show="isTypeVideo()">
            <li ng-click="toggleAudioStreams()">Switch audio</li>
            <li ng-click="toggleSubtitles()">Switch subtitles</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="span2  voulme-wrapper">
    <div class="md-action"  ng-hold="xbmc.dereaseVolume(application.volume)" >
        <i class="icon icon-volume-down"></i>
    </div>
    <seekbar seekbar-value="application.volume" seekbar-max="100"
     on-seekbar-changed="onVolumeChanged(newValue)"
     class="volume seekbar"></seekbar>
    <div class="md-action"  ng-hold="xbmc.increaseVolume(application.volume)" >
        <i class="icon icon-volume-up"></i>
    </div>
  </div>
</div>

 <form role="dialog" data-type="action" class="chooser" onsubmit="return false;" ng-show="showAudioSelect">
     <div class="content">
        <header> Audio Streams </header>
        <div class="body">
            <label ng-repeat="audiostream in player.audiostreams">
                <input type="radio" ng-model="stream" ng-value="audiostream.index" name="audiostreams"/>
                {{audiostream.name}} ( {{audiostream.language}})
            </label>
        </div>
        <div class="actions">
            <button ng-click="toggleAudioStreams()"> Cancel </button>
            <button class="recommend" ng-click="onValidateAudioStream()"> Ok </button>
        </div>
    </div>
</form>

<form role="dialog" data-type="action" class="chooser" onsubmit="return false;" ng-show="showSubtitleSelect">
     <div class="content">
        <header> Subtitles </header>
        <div class="body">
            <label>
                <input type="radio" ng-model="sub" value="off" name="subtitles"/>
                None
            </label>
            <label ng-repeat="subtitle in player.subtitles">
                <input type="radio" ng-model="sub" ng-value="subtitle.index" name="subtitles"/>
                {{subtitle.name}} ({{subtitle.language}})
            </label>
        </div>
        <div class="actions">
            <button ng-click="toggleSubtitles()"> Cancel </button>
            <button class="recommend" ng-click="onValidateSubtitles()"> Ok </button>
        </div>
    </div>
</form>

<form role="dialog" data-type="action" class="chooser" onsubmit="return false;" ng-show="showTimePicker">
    <div class="content">
        <header>Select time </header>
        <div class="body">
            <div class="time">
                <div ng-model="seekTime" class="picker">
                  <timepicker hour-step="1" minute-step="1" show-meridian="false"></timepicker>
                </div>
            </div>
        </div>
        <div class="actions">
            <button  ng-click="toggleTimePicker()"> Cancel </button>
            <button class="recommend" ng-click="onValidateSeekTime()"> Ok </button>
        </div>
    </div>
</form>