<seekbar seekbar-value="player.seek.percentage" seekbar-max="100"
         on-seekbar-changed="onSeekbarChanged(newValue)"
         class="seekbar" ng-show="player.active"></seekbar>
<div class="row buttons">
    <div class="span4 player-wrapper">
        <div class="player row" ng-show="player.active">
            <div class="poster-wrapper span3" >
                <div class="md-circle poster" image 
                     image-source="player.item.thumbnail | asset:host | fallback:'img/icons/foxy-512.png'"></div>
            </div>
            <div class="label span8">{{player.item.label}}</div>
            <div class="md-action span1">
              <i class="icon icon-ellipsis-vertical"></i>
            </div>
        </div>
    </div>
    <div class="span4" style="text-align:center;">
      <div class="md-action" ng-click="xbmc.previous()" >
          <i class="icon icon-fast-backward"></i>
      </div>
      <div class="md-action" ng-click="xbmc.stop()">
          <i class="icon icon-stop"></i>
      </div>
      <div class="md-action" ng-click="xbmc.togglePlay()" ng-show="!player.speed">
          <i class="icon-play"></i>
      </div>
      <div class="md-action" ng-click="xbmc.togglePlay()"  ng-show="player.speed">
          <i class="icon-pause"></i>
      </div>
      <div class="md-action" ng-click="xbmc.next()"  >
          <i class="icon icon-fast-forward"></i>
      </div>
    </div>
    <div class="span4" style="text-align:right;">
        <div class="md-action"  ng-hold="xbmc.dereaseVolume(application.volume)" >
            <i class="icon icon-volume-down"></i>
        </div>
        <seekbar seekbar-value="application.volume" seekbar-max="100"
         on-seekbar-changed="onVolumeChanged(newValue)"
         class="volume seekbar"></seekbar>
        <div class="md-action"  ng-hold="xbmc.increaseVolume(application.volume)" >
            <i class="icon icon-volume-up"></i>
        </div>
    </div>
  </div>
        <!--div class="player">
            <div class="row controls">
                <div class="span3 action" ng-click="toggleAudioStreams()" ng-show="isTypeVideo()">
                    <i class="icon-comments"></i>
                </div>
                <div class="times" ng-click="toggleTimePicker()" ng-class="{span6 : isTypeVideo(), span12 : !isTypeVideo()}">
                    {{player.seek.time | time | date:'HH:mm:ss'}}/
                    {{player.seek.totaltime | time | date:'HH:mm:ss'}}
                    [-{{(player.seek.totaltime - player.seek.time)  | time | date:'HH:mm:ss'}}]
                </div>
                <div class="span3 action" ng-click="toggleSubtitles()" ng-show="isTypeVideo()">
                    <i class="icon-quote-left"></i>
                </div>
            </div>
            <
            <div class="row controls">
                <div class="span3" ng-click="xbmc.previous()">
                    <i class="icon-fast-backward"></i>
                </div>
                <div class="span3" ng-click="xbmc.togglePlay()">
                    <i class="icon-play" ng-show="!player.speed"></i>
                    <i class="icon-pause" ng-show="player.speed"></i>
                </div>
                <div class="span3" ng-click="xbmc.stop()">
                    <i class="icon-stop"></i>
                </div>
                <div class="span3" ng-click="xbmc.next()">
                    <i class="icon-fast-forward"></i>
                </div>
            </div>
        </div -->
    </div>
</div>

 <form role="dialog" data-type="action" class="chooser" onsubmit="return false;" ng-show="showAudioSelect">
     <div class="content">
        <header> Audio Streams </header>
        <div class="body">
            <label ng-repeat="audiostream in player.audiostreams">
                <input type="radio" ng-model="stream" ng-value="audiostream.index" name="audiostreams"/>
                {{audiostream.name}} ( {{audiostream.language}})
            </label>
        </div>
        <div class="actions">
            <button ng-click="toggleAudioStreams()"> Cancel </button>
            <button class="recommend" ng-click="onValidateAudioStream()"> Ok </button>
        </div>
    </div>
</form>

<form role="dialog" data-type="action" class="chooser" onsubmit="return false;" ng-show="showSubtitleSelect">
     <div class="content">
        <header> Subtitles </header>
        <div class="body">
            <label>
                <input type="radio" ng-model="sub" value="off" name="subtitles"/>
                None
            </label>
            <label ng-repeat="subtitle in player.subtitles">
                <input type="radio" ng-model="sub" ng-value="subtitle.index" name="subtitles"/>
                {{subtitle.name}} ({{subtitle.language}})
            </label>
        </div>
        <div class="actions">
            <button ng-click="toggleSubtitles()"> Cancel </button>
            <button class="recommend" ng-click="onValidateSubtitles()"> Ok </button>
        </div>
    </div>
</form>

<form role="dialog" data-type="action" class="chooser" onsubmit="return false;" ng-show="showTimePicker">
    <div class="content">
        <header>Select time </header>
        <div class="body">
            <div class="time">
                <div ng-model="seekTime" class="picker">
                  <timepicker hour-step="1" minute-step="1" show-meridian="false"></timepicker>
                </div>
            </div>
        </div>
        <div class="actions">
            <button  ng-click="toggleTimePicker()"> Cancel </button>
            <button class="recommend" ng-click="onValidateSeekTime()"> Ok </button>
        </div>
    </div>
</form>