<div ng-switch on="loading" class="now" ng-class="{loading : loading}">
    <div ng-switch-when="true" class="loading"><div class="foxy"></div></div>
    <div ng-switch-when="false">
        <div class="arts">
            <div class="banner" image image-source="items[0].fanart | asset:host  | fallback:'img/backgrounds/banner.png'">
            </div>
            <div class="md-action md-action-primary" ng-click="xbmc.next()">
                    <i class="icon-fast-forward"></i>
            </div>
        </div>
        <ul data-type="list" class="view songs">
            <li class="row " ng-repeat="item in items"
                ng-click="xbmc.goTo($index)">
                <div class="span3 flip-container" ng-show="item.rating">
                    <flipper>
                        <div class="front">
                            <div class="md-circle poster" image image-source="item.art | thumb | asset:host | fallback:'img/icons/foxy-512.png'"></div>
                        </div>
                        <div class="back" rating rating-value="item.rating" rating-max="10"></div>
                    </flipper>
                </div>
                <div class="span3 wrapper" ng-show="!item.rating">
                    <div class="md-circle poster" image image-source="item.art | thumb | asset:host | fallback:'img/icons/foxy-512.png'"></div>
                </div>
                <div class="span8">
                    <p>{{item.label}}</p>
                    <p ng-show="item.duration">{{item.duration | time | date :'mm:ss'}}</p>
                    <p ng-show="item.runtime">{{item.runtime| time | date :'hh:mm:ss'}}</p>
                    <img class="equalizer" src="img/backgrounds/equalizer.gif" ng-show="isPlaying(item.id)"/>
                </div>
            </li>
        </ul>
        <div ng-show="!items.length" class="empty list">Oops! nothing here</div>
    </div>
</div>