 <nav class="row">
    <ul class="clearfix tabs span8 offset2">
        <li ng-repeat="item in medias"
            ng-click="go(item.hash)" ng-class="{selected : isCurrent(item.matchRegExp)}"
            class="tab">
            <div class="label">
                {{item.label}}
            </div>
        </li>
    </ul>
    <div class="status" ng-class="{connected : connected, disconnected : !connected}">
        <i ng-class="{'icon-ok' : connected, 'icon-remove' : !connected}"></i> 
    </div>
</nav>