<div class="fill-height">
    <div class="kodi" ng-show="loading"></div>
    <no-source source="'musics'" ng-if="empty"></no-source>
    <div class="cards albums">
        <ul data-type="list" lr-infinite-scroll="loadMore">
            <li class="row album card repeat-animation" ng-repeat="album in albums">
                <a href="#/musics/songs/albumid/{{album.albumid}}">
                    <div class="poster" image image-source="album.thumbnail | asset:host | fallback:'img/backgrounds/album.png'">
                    </div>
                    <div class="description">
                        <h3>{{album.label}}</h3>
                        <p>{{album.artist.join(', ')}}</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

