<div class="fill-height songs-wrapper">
    <div class="kodi" ng-hide="songs.length"></div>
    <div class="fill-height">
        <div class="detail wrapper row">
            <div class="fanart" image image-source="album.fanart | asset:host | fallback:'img/backgrounds/vinyls.jpg'"></div>
            <div class="offset2 span8 card artist">
                <div class="poster-wrapper">
                    <div class="poster" image image-source="album.thumbnail | asset:host | fallback:'img/backgrounds/album.png'">
                    </div>
                </div>
                <div class="details">
                    <h1>{{album.label | fallback:'Songs'}}</h1>
                    <h3>{{album.genre.join(', ')}}</h3>
                    <p ng-show="album">{{album.year}}</p>
                    <p ng-show="!album">{{total}} songs in your library</p>
                </div>
            </div>
            <div class="actions">
                <div class="md-action md-action-primary"
                   ng-click="xbmc.open({'file' : undefined})"
                   ng-show="!album">
                    <i class="icon-random"></i>
                </div>
                <div class="md-action md-action-primary"
                     ng-click="xbmc.queue({'albumid': album.albumid})"
                     ng-show="album && player.active">
                    <i class="icon-plus"></i>
                </div>
                <div class="md-action md-action-primary"
                     ng-click="xbmc.open({'albumid': album.albumid})"
                     ng-show="album && !player.active">
                    <i class="icon-play"></i>
                </div>
            </div>
        </div>
        <div class="row songs">
            <ul data-type="list" lr-infinite-scroll="loadMore">
                <li class="row song repeat-animation" ng-repeat="song in songs"
                    ng-click="xbmc.open({songid : song.songid})">
                    <div class="span5 track">
                        <span class="thumbnail" image image-source="song.thumbnail | asset:host | fallback:'img/backgrounds/album.png'">
                            <i class="icon-play"></i>
                        </span>
                        {{song.label}}
                        <img class="equalizer" src="img/backgrounds/equalizer.gif" ng-show="isPlaying(song.songid)"/>
                    </div>
                    <div class="span3">{{song.album}}</div>
                    <div class="span3">{{song.artist.join(', ')}}</div>
                    <div class="span1 duration">{{song.duration | time | date :'mm:ss'}}</div>
                </li>
            </ul>
            <div ng-show="!songs.length" class="empty list">Oops! nothing here</div>
        </div>
    </div>
</div>