<div class="fill-height songs-wrapper detail" lr-infinite-scroll="loadMore">
    <div class="kodi" ng-show="loading"></div>
    <no-source source="'musics'" ng-if="empty"></no-source>
    <div class="wrapper row">
        <div class="fanart" image image-source="album.fanart | asset:host | fallback:'img/backgrounds/vinyls.jpg'"></div>
        <div class="actions">
            <div class="md-action md-action-primary"
               ng-click="xbmc.open({'file' : undefined})"
               ng-show="!album">
                <i class="fa fa-random"></i>
            </div>
            <div class="md-action md-action-primary"
                 ng-click="xbmc.queue({'albumid': album.albumid})"
                 ng-show="album && player.active">
                <i class="fa fa-plus"></i>
            </div>
            <div class="md-action md-action-primary"
                 ng-click="xbmc.open({'albumid': album.albumid})"
                 ng-show="album && !player.active">
                <i class="fa fa-play"></i>
            </div>
        </div>
    </div>
    <div class="description row">
        <div class="offset1 span2 sidebar">
            <div class="poster-wrapper">
                <img class="poster" image image-source="album.thumbnail | asset:host | fallback:'img/backgrounds/album.png'"/>
            </div>
            <ul class="nav sections">
                <li style="text-align: center">
                    {{album.label | fallback:'Library'}}
                </li>
                <li class="row" ng-if="album">
                    <div class="span6 label">Artist</div>
                    <div class="span6 value">
                        {{album.displayartist}}
                    </div>
                </li>
                <li class="row" ng-if="album">
                    <div class="span6 label">Genre</div>
                    <div class="span6 value">
                        {{album.genre.join(', ')}}
                    </div>
                </li>
                <li class="row" ng-if="album">
                    <div class="span6 label">Year</div>
                    <div class="span6 value">
                        {{album.year}}
                    </div>
                </li>
                <li class="row" ng-if="!album">
                    <div class="span6 label"># Songs</div>
                    <div class="span6 value">
                        {{total}}
                    </div>
                </li>
            </ul>
            <button class="recommend" class="md-action md-action-primary"
                    ng-click="xbmc.open({'file' : undefined})"
                    ng-show="!album">
                <i class="fa fa-random"></i> Shuffle
            </button>
            <button class="recommend"
                 ng-click="xbmc.queue({'albumid': album.albumid})"
                 ng-show="album && player.active">
                <i class="fa fa-plus"></i> Queue
            </button>
            <button class="recommend"
                 ng-click="xbmc.open({'albumid': album.albumid})"
                 ng-show="album && !player.active">
                <i class="fa fa-play"></i> Play
            </button>
        </div>
        <div class="span7 content">
            <ul data-type="list">
                <li class="row song repeat-animation" ng-repeat="song in songs"
                    ng-click="xbmc.open({songid : song.songid})">
                    <div class="span4 track">
                        <span class="thumbnail" image image-source="song.thumbnail | asset:host | fallback:'img/backgrounds/album.png'">
                            <i class="fa fa-play"></i>
                        </span>
                        {{song.label}}
                        <img class="equalizer" src="img/backgrounds/equalizer.gif" ng-show="isPlaying(song.songid)"/>
                    </div>
                    <div class="span3">{{song.album || '&nbsp;'}}</div>
                    <div class="span3">{{song.artist.join(', ') || '&nbsp;'}}</div>
                    <div class="span1 duration">{{song.duration | time | date :'mm:ss'}}</div>
                    <div class="span1 more">
                        <i class="fa fa-ellipsis-v"></i>
                        <ul class="dropdown-menu">
                            <li ng-click="xbmc.queue({'songid':song.songid});$event.stopPropagation();">
                                <i class="fa fa-plus"></i>
                                Queue
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>