<div ng-switch on="loading" class="tvshow detail fill-height" ng-class="{loading : loading}">
    <div ng-switch-when="true" class="loading"><div class="kodi"></div></div>
    <div ng-switch-when="false">
        <div class="experimental row" ng-show="!isExternalAddonAvailable && isUsingExternalAddon()">
            <div class="offset2 span8">
                <i class="icon icon-beaker"></i>
                {{host.videoAddon}} needed to preview discoverable content.
            </div>
        </div>
        <div class="row wrapper">
            <div class="fanart" image image-source="getImage(show.fanart)"></div>
            <div class="offset2 span8 clearfix" style="position:relative;">
                <div class="poster-wrapper">
                    <img class=" poster" image image-source="getImage(show.thumbnail || show.poster, 'w500')"/>
                </div>
                <div class="details">
                    <h1>{{show.title || show.name}}</h1>
                    <h3>{{show.genre.join(', ')}}</h3>
                    <p>{{show.year}}</p>
                    <p class="plot">{{show.plot}}</p>
                </div>
            </div>
            <div class="actions" ng-show="hasControls()">
              <div class="md-action md-action-primary"
                    ng-click="queueAll()"
                    ng-show="episodes.length">
                <i class="icon-plus"></i>
              </div>
            </div>
        </div>
        <div class="description">
            <div class="row">
                <div class="offset2 span8">
                    <div ng-show="nextAiringEpisode !== null">
                        <h1>
                          <i class="icon-time"></i>
                          Next Episode
                        </h1>
                        <div class="row next-episode">
                            <div class="thumbnail span3" image image-source="nextAiringEpisode.thumbnail | tmdbImage:'w300' | fallback:'img/icons/awe-512.png'">
                            </div>
                            <div class="span9">
                                <p>
                                    {{nextAiringEpisode.episode | episode:nextAiringEpisode.season}} -
                                    {{nextAiringEpisode.title || nextAiringEpisode.name}} airs {{nextAiringEpisode.firstaired | date : 'fullDate'}}
                                </p>
                                <p>{{nextAiringEpisode.plot}}</p>
                            </div>
                        </div>
                    </div>
                    <div ng-show="seasons.length">
                        <h1>
                          Episodes
                          <i class="icon-chevron-right"></i>
                          <span class="season">
                            <span class="md-circle fanart" image image-source="getImage(season.thumbnail || season.poster, 'w500')">
                            </span>
                            {{seasonName(season)}}
                            <i class="icon-chevron-down" ng-show="seasons.length>1"></i>
                            <select ng-options="season as seasonName(season) for season in seasons"
                                    ng-model="season"
                                    ng-change="changeSeason(season)"
                                    ng-show="seasons.length>1"></select>
                          </span>
                        </h1>
                    </div>
                    <ul data-type="list">
                        <li class="row episode playable" ng-repeat="episode in episodes"
                            ng-click="play(episode)">
                            <div class="thumbnail span3" image image-source="getImage(episode.thumbnail, 'w300')">
                                <div class="md-action md-action-primary">
                                    <i class="icon-play"></i>
                                </div>
                                <div class="playcount" ng-show="episode.playcount">
                                     <i class="icon-ok"></i>
                                </div>
                            </div>
                            <div class="span9">
                                <p>
                                    {{episode.episode | episode:episode.season}} -
                                    {{episode.title || episode.name}}
                                </p>
                                <p><span class="runtime">{{episode.runtime | time | date:'HH:mm'}}</span></p>
                                <p>{{episode.plot}}</p>
                                <div class="controls" ng-show="hasControls()">
                                    <i class="icon-plus" ng-click="xbmc.queue({'episodeid' : episode.episodeid}); $event.stopPropagation();"
                                       ng-show="player.active"></i>
                                    <i ng-class="{'icon-eye-open':!episode.playcount, 'icon-eye-close':episode.playcount}"
                                       ng-click="toggleWatched(episode); $event.stopPropagation();"
                                    ></i>
                                    <i class="icon-trash"
                                       ng-click="remove($index, episode); $event.stopPropagation();"
                                    ></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div ng-show="!episodes.length" class="empty list">Oops! nothing here</div>
                </div>
            </div>
        </div>
    </div>
</div>
