<div ng-switch on="loading" class="tvshow detail fill-height" ng-class="{loading : loading}">
    <div ng-switch-when="true" class="loading"><div class="kodi"></div></div>
    <div ng-switch-when="false">
        <i class="fa fa-chevron-left previous"
           ng-if="seasons.indexOf(season) > 0"
           ng-click="previousSeason()"></i>
        <i class="fa fa-chevron-right next"
           ng-if="seasons.indexOf(season) < seasons.length-1"
           ng-click="nextSeason()"></i>
        <div class="experimental row" ng-show="!isExternalAddonAvailable && isUsingExternalAddon()">
            <div class="offset2 span8">
                <i class="fa fa-flask"></i>
                {{host.videoAddon}} needed to preview discoverable content.
            </div>
        </div>
        <div class="row wrapper">
            <tmdb-fanarts fanarts="fanarts" delay="10000" primary="show.fanart"></tmdb-fanarts>
            <div class="title">
                <h2>{{show.title || show.name}}</h2>
                <h1 ng-if="season">{{seasonName(season)}}</h1>
            </div>
            <trakt-stats stats="stats"></trakt-stats>
        </div>
        <div class="description row">
            <div class="offset1 span2 sidebar">
                <div class="poster-wrapper">
                    <img class=" poster" image image-source="getImage(season.thumbnail || season.poster || show.thumbnail, 'w500')"/>
                </div>

                <ul class="nav sections">
                    <li style="text-align: center">
                        {{show.title || show.name}}
                        <seekbar seekbar-value="show.watchedepisodes" seekbar-max="show.episode"
                                 seekbar-read-only="true" class="progress-wrapper"
                                 ng-if="show.watchedepisodes">
                        </seekbar>
                    </li>
                    <li class="row">
                        <div class="span6 label">
                            <i class="fa fa-television"></i>
                            Season
                        </div>
                        <div class="span6 value">{{season.season}}</div>
                    </li>
                    <li class="row">
                        <div class="span6 label">
                             <i class="fa fa-star"></i>
                             Rating
                        </div>
                        <div class="span6 value">{{show.rating| number : 1}}</div>
                    </li>
                    <li class="row">
                        <div class="span6 label">
                            <i class="genre-{{show.genre[0].toLowerCase()}}"></i>
                            Genre
                        </div>
                        <div class="span6 value"> {{show.genre[0]}} </div>
                    </li>
                    <li class="row">
                        <div class="span6 label">
                             <i class="fa fa-calendar"></i>
                             Released
                        </div>
                        <div class="span6 value">{{getYear(show, season)}}</div>
                    </li>
                    <li class="row">
                        <div class="span6 label">
                             <i class="fa fa-trakt"></i>
                             Watching
                        </div>
                        <div class="span6 value">{{watching.length}}</div>
                    </li>
                    <li class="row" ng-show="show.watchedepisodes">
                        <div class="span6 label">Progress</div>
                        <div class="span6 value">{{show.watchedepisodes}}/{{show.episode}}</div>
                    </li>
                </ul>
            </div>
            <div class="span7 content">
                <div  class="details-section">
                    <h1>Synopsis</h1>
                    <p>{{show.plot}}</p>
                </div>
                <div  class="details-section" ng-if="nextAiringEpisode">
                    <h1>
                      <i class="fa fa-clock-o"></i>
                      Next Episode
                    </h1>
                    <div class="row next-episode">
                        <div class="thumbnail span4" image image-source="nextAiringEpisode.thumbnail | tmdbImage:'w300' | fallback:'img/icons/awe-512.png'">
                        </div>
                        <div class="span8">
                            <p>
                                {{nextAiringEpisode.episode | episode:nextAiringEpisode.season}} -
                                {{nextAiringEpisode.title || nextAiringEpisode.name}} airs {{nextAiringEpisode.firstaired | date : 'fullDate'}}
                            </p>
                            <p>{{nextAiringEpisode.plot}}</p>
                        </div>
                    </div>
                </div>
                <div  class="details-section" ng-if="seasons.length">
                    <h1>
                        <span class="season">
                            <span class="md-circle fanart" image image-source="getImage(season.thumbnail || season.poster, 'w500')">
                            </span>
                            {{seasonName(season)}}
                        </span>
                        <i class="fa fa-chevron-right"></i>
                        Episodes
                    </h1>
                </div>
                <ul data-type="list">
                    <li class="row episode playable" ng-repeat="episode in episodes"
                        ng-click="play(episode)">
                        <div class="thumbnail span4" image image-source="getImage(episode.thumbnail, 'w300')">
                            <div class="md-action md-action-primary">
                                <i class="fa fa-play"></i>
                            </div>
                            <div class="playcount" ng-show="episode.playcount">
                                 <i class="fa fa-check"></i>
                            </div>
                        </div>
                        <div class="span8">
                            <h3>
                                <span class="se">{{episode.episode | episode:episode.season}}</span>
                                {{episode.title || episode.name}}
                            </h3>
                            <div>
                                <span class="firstaired" ng-if="episode.firstaired">{{episode.firstaired}}</span>
                                <span class="runtime" ng-if="episode.runtime">{{episode.runtime | time | date:'HH:mm'}}</span>
                            </div>
                            <p>{{episode.plot}}</p>
                            <div class="more" ng-show="hasControls()">
                                <i class="fa fa-ellipsis-v"></i>
                                <ul class="dropdown-menu">
                                    <li ng-click="xbmc.queue({'episodeid' : episode.episodeid}); $event.stopPropagation();"
                                        ng-show="player.active">
                                        <i class="fa fa-plus"></i>
                                        Queue
                                    </li>
                                    <li ng-click="toggleWatched(episode); $event.stopPropagation();">
                                        <i class="fa" ng-class="{'fa-eye':!episode.playcount, 'fa-eye-slash':episode.playcount}"></i>
                                        Toggle watch
                                    </li>
                                    <li ng-click="remove($index, episode); $event.stopPropagation();">
                                        <i class="fa fa-trash"></i>
                                        Remove
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <div ng-show="!episodes.length" class="empty list">Oops! nothing here</div>
                <div  class="details-section" ng-if="comments.length">
                    <h1>Popular comments</h1>
                    <trakt-comments comments="comments"></trakt-comments>
                </div>
            </div>
        </div>
    </div>
</div>
