<div class="cards fill-height">
    <div class="kodi" ng-hide="episodes.length"></div>
    <ul data-type="list" lr-infinite-scroll="loadMore">
        <li class="card tvshow repeat-animation" ng-repeat="episode in episodes">
            <a href="#/tvshows/{{episode.tvshowid}}">
                <div class="poster" image image-source="episode.art['tvshow.poster'] | asset:host | fallback:'img/icons/awe-512.png'">
                    <flipper>
                        <div class="front">
                            <div rating rating-value="episode.rating" rating-max="10"></div>
                        </div>
                        <div class="back">
                            <div class="md-circle rating">
                                <i class="icon-play" ng-click="xbmc.open({'episodeid' : episode.episodeid}); $event.preventDefault();"
                                   ng-show="!player.active"></i>
                                <i class="icon-plus" ng-click="xbmc.queue({'episodeid' : episode.episodeid}); $event.preventDefault();"
                                   ng-show="player.active"></i>
                            </div>
                        </div>
                    </flipper>
                    <div class="playcount" ng-show="episode.playcount">
                         <i class="icon-ok"></i>
                    </div>
                </div>
                <div class="description">
                    <h3>{{episode.title}}</h3>
                    <p>Episode {{episode.episode}}</p>
                    <p class="clock">
                        {{episode.runtime | time | date:'HH:mm'}}
                    </p>
                    <seekbar seekbar-value="episode.resume.position" seekbar-max="episode.resume.total"
                             seekbar-read-only="true">
                    </seekbar>
                    <div class="controls">
                        <i ng-class="{'icon-eye-open':!episode.playcount, 'icon-eye-close':episode.playcount}"
                           ng-click="toggleWatched(episode); $event.preventDefault();"
                        ></i>
                        <i class="icon-trash"
                           ng-click="remove($index, episode); $event.preventDefault();"
                        ></i>
                    </div>
                </div>
            </a>
        </li>
    </ul>
    <div ng-show="!episodes.length" class="empty list">Oops! nothing here</div>
</div>