<div class="cards fill-height">
    <div class="kodi" ng-hide="tvshows.length"></div>
    <ul data-type="list" lr-infinite-scroll="loadMore">
        <li class="card tvshow repeat-animation" ng-repeat-start="show in tvshows">
            <a href="{{getEpisodesPath(show)}}">
                <div class="poster" image image-source="getPoster(show)">
                    <flipper ng-show="hasControls()">
                        <div class="front">
                            <div rating rating-value="show.rating" rating-max="10"></div>
                        </div>
                        <div class="back">
                            <div class="md-circle rating">
                               <img class="studio" image image-source="getStudio(show)"
                                    onerror="this.src='img/icons/default-studio.png';"/>
                            </div>
                        </div>
                    </flipper>
                    <div class="rating-wrapper" ng-show="!hasControls()">
                        <div rating rating-value="show.rating" rating-max="10"></div>
                    </div>
                    <div class="playcount" ng-show="show.playcount">
                         <i class="fa fa-check"></i>
                    </div>
                </div>
                <div class="description">
                    <h3>{{show.title || show.name}}</h3>
                    <p>{{getExtra(show)}}</p>
                    <div ng-show="hasControls()">
                        <p class="clock">&nbsp;</p>
                        <seekbar seekbar-value="show.watchedepisodes" seekbar-max="show.episode"
                                 seekbar-read-only="true">
                        </seekbar>
                        <div class="controls">
                            <i class="fa" ng-class="{'fa-eye':!show.playcount, 'fa-eye-slash':show.playcount}"
                               ng-click="toggleWatched(show); $event.preventDefault();"
                            ></i>
                            <i class="fa fa-trash"
                               ng-click="remove($index, show); $event.preventDefault();"
                            ></i>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="card tvshow" ng-repeat-end ng-if="$index===supportIndex" ng-click="showSupport();">
            <a href="javascript:void:0;">
                <div class="poster" image image-source="'img/backgrounds/support.png'">
                    <img src="../img/icons/loading.png" class="arch" width="75%"/>
                    <div class="rating-wrapper">
                        <div class="md-circle rating">
                            <i class="fa fa-paypal"></i>
                        </div>
                    </div>
                </div>
                 <div class="description">
                    <h3>Enjoying Arch ?</h3>
                    <p>Support us!</p>
                    <div ng-show="hasControls()">
                        <seekbar seekbar-value="0" seekbar-max="1"
                                 seekbar-read-only="true">
                        </seekbar>
                    </div>
                </div>
            </a>
        </li>
    </ul>
    <div ng-show="!tvshows.length" class="empty list">Oops! nothing here</div>
</div>