<div class="remote">
    <div class="arts">
        <div ng-switch on="player.active">
            <div ng-switch-when="true">
                <div class="banner" image image-source="player.item.fanart | asset:host"></div>
                <seekbar seekbar-value="player.seek.percentage" seekbar-max="100" seekbar-read-only="true"></seekbar>
                <div class="label">{{player.item.label}}</div>
                <div class="md-action md-action-primary" ng-click="toggleShutdownOptions()">
                    <i class="fa fa-power-off"></i>
                </div>
            </div>
            <div ng-switch-when="false">
                <div class="banner"></div>
                <div class="md-action md-action-primary" ng-click="toggleShutdownOptions()">
                    <i class="fa fa-power-off"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="buttons">
        <div class="row">
            <div class="action">
                <div class="md-action"  ng-click="xbmc.info()">
                    <i class="fa fa-info"></i>
                </div>
            </div>
            <div class="action">
                <div class="md-action direction"  ng-click="xbmc.up()">
                    <i class="fa fa-chevron-up"></i>
                </div>
            </div>
            <div class="action">
                <div class="md-action"  ng-click="xbmc.contextmenu()">
                    <i class="fa fa-list-ul"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="action">
                <div class="md-action direction" ng-click="xbmc.left()">
                    <i class="fa fa-chevron-left"></i>
                </div>
            </div>
            <div class="action">
                <div class="md-action select" ng-click="xbmc.select()">
                    <i class="fa fa-circle"></i>
                </div>
            </div>
            <div class="action">
                <div class="md-action direction" ng-click="xbmc.right()">
                    <i class="fa fa-chevron-right"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="action">
                <div class="md-action" ng-click="xbmc.back()">
                    <i class="fa fa-mail-reply"></i>
                </div>
            </div>
            <div class="action">
                <div class="md-action direction" ng-click="xbmc.down()">
                    <i class="fa fa-chevron-down"></i>
                </div>
            </div>
            <div class="action">
               <div class="md-action" ng-click="toggleKeyboard()">
                    <i class="fa fa-keyboard-o"></i>
                </div>
            </div>
        </div>

    </div>
</div>